/* UXMad Locally Loaded Web Fonts Styles */
/* ------------------------------------- */


@font-face {
    font-family: 'PointersRegular';
    src: url('/stylesheets/webfonts/pointers-webfont.eot');
    src: url('/stylesheets/webfonts/pointers-webfont.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/webfonts/pointers-webfont.woff') format('woff'),
         url('/stylesheets/webfonts/pointers-webfont.ttf') format('truetype'),
         url('/stylesheets/webfonts/pointers-webfont.svg#PointersRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Font Family References
// ----------------------

//font-family: 'PointersRegular';
