@import "../imports/_imports.scss";
@import "../imports/_oocss";

// The imports/ directory are intended for reusable mixins
// -------------------------------------------------------
$imgDir: '/images/axle/';



// Axle demo classes
// --------------------------------------------------------
body {
  margin: 0;
}

.styleguide {
  .doc_article_class {
    @include bulleted_list;
  }
}

.axle_buttons > div {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}


//// styleguide UI ////
.styleguide {
  background: $white;

  body {
    background: $white;
  }

  .axle_instructions {
    display: block;
  }

  code {
    padding: 3px 6px;
    border: 1px solid $alpha_grey;
    white-space: nowrap;
    color: $alpha_grey;
  }

  pre {
    @include border_radius (10px);
    @include large;
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;
  }

  .button_styleguide {
    div {
      padding-bottom: 10px;
    }
  }

  .form_styleguide {
    pre {
      overflow: auto;
      margin-left: 0px;
    }
    .master_container {
      float: left;
      width: 100%;
    }
  }

  .axle_main_header {
    color: #fff;
    padding: 10px 20px;

    // gradients //
    @include linear_gradient_w3c (#B8E1FC, #{#B8E1FC 0%, #A9D2F3 10%, #90BAE4 25%, #90BCEA 37%, #90BFF0 50%, #6BA8E5 51%, #A2DAF5 83%, #BDF3FD 100%});

    @include linear_gradient_legacy_safari (#{color-stop(0%,#B8E1FC), color-stop(10%,#A9D2F3), color-stop(25%,#90BAE4), color-stop(37%,#90BCEA), color-stop(50%,#90BFF0), color-stop(51%,#6BA8E5), color-stop(83%,#A2DAF5), color-stop(100%,#BDF3FD)});

    @include linear_gradient_legacy_ie (#B8E1FC, #BDF3FD);
    // gradients //

    border-bottom: 1px solid $alpha_grey;
    @include box_shadow($shadow_color, 0px 0px 40px);
    font-family: 'Pacifico', arial, serif;
    font-size: 3em;
    line-height: 1.5em;
  }

  .axle_body {
    float: none;
    width: #{960 / $em}rem;
    margin: 0 auto;
    @include clearfix;
    .axle_header {
      color: #999;
      border: 1px solid #999;
      border-width: 0 0 1px 0;
      margin: 30px 0 10px 0;
      @include clearfix;
      float: left;
      width: 100%;
      padding-bottom: 1em;
    }
    .axle_instructions {
      //@extend .axle_header;
      margin-top: 0;
      border-width: 0;
      //color: #313131;
      padding-top: 10px;
    }
    .headings_ellipsis {
      h1, h2, h3, h4, h5 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        float: left;
        width: 980px;
      }
    }
    .body_text {
      span {
        color: red;
        display: block;
      }
    }
    .link_text {
      float: left;
      width: 100%;
      @include column_count(3, 1em);
    }
  }

  .styleguide_footer {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0 30px 0;
    height: 100px;
  }

  .colorcode, .gradient {
    float: left;
    width: 100%;
    div {
      width: 70%;
      margin-bottom: 2em;
      min-height: 60px;
      p {
        position: relative;
        left: 105%;
        width: 35%;
        font-weight: normal;
      }
    }
    .tabbed_ui {
      p {
        top: 0px;
        padding: 0px;
      }
    }
  }

  .styleguide_form_frame {
    border: 1px dashed $delta_grey;
    padding: 16px 16px 0;
    @include border_radius(6px);
    margin-bottom: 10px;
  }

  .flex_blocks {
    .india_grey {
      border: 1px dashed transparentize($alpha_grey, .7);
      p {
        top: 70px;
      }
    }
  }

  .gradient {
    .alpha_color_gradient {
      p {
        color: $alpha_grey;
      }
    }
  }

  .login_body {
    margin: 0 0 30px 0;
    padding: 0;
  }



  .styleguide_nav {
    position: fixed;
    a {
      text-decoration: none;
    }

    z-index: 1000;
    border: 1px solid #ccc;
    left: -157px;
    @media screen and (min-width: 1400px) {
      left: 30px;
    }
    top: 100px;
    width: 120px;
    padding: 10px 20px 10px 10px;
    @include border_radius(5px);
    @include box_shadow(#ccc, 0px 0px 20px);
    @include transition(all, .5s, ease-in-out, 0s);
    background-color: #fff;
    .widget_links {
      height: 100px;
      width: 135px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .nav_title {
      @include transform(rotate(-90deg));
      position: absolute;
      top: 0px;
      left: 35px;
      //@include x_large;
      padding: 60px 100px 100px 100px;
      letter-spacing: 4px;
      @media screen and (min-width: 1400px) {
        display: none;
      }
      @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
        background: orange;
        top: 105px;
        left: 75px;
        height: 30px;
        padding: 8px 40px 5px 40px;
        @include border-radius(0 0 5px 5px);
        &:hover {
          background: orange;
        }
      }
    }
    ul {
      margin-top: 5px;
      li {
        padding: 3px;
        margin-left: 10px;
      }
      a {
        display: block;
      }
    }
    p {
      margin: 0.5em 0 0 0;
      text-align: center;
      width: 100%;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
          @include four_stop_linear_gradient (#feccb1, #f17432, #ea5507, #fb955e); //orange
        }
        @include four_stop_linear_gradient (#9dd53a, #a1d54f, #80c217, #7cbc0a); //green
        display: inline-block;
        width: 100%;
        margin: -5px;
        padding: 5px;
        @include border_radius(5px);
      }
      @include four_stop_linear_gradient (#feccb1, #f17432, #ea5507, #fb955e); //orange
      padding: 5px;
      @include border_radius(5px);
      display: inline-block;
      color: #fff;
      font-weight: bold;
      width: 100%;
      &:hover {
        text-decoration: none;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &:hover {
      left: 30px;
      color: rgba(0,0,0,0);
    }
  }
  #standard_modal_alt {
    width: 600px !important;
  }

  /////// semantic color blocks ////////
  // this is only to display these colors in full color blocks
  // not intended to be used throughout the application

  .primary_text {
    background-color: $primary_text;
  }

  .href_color {
    background-color: $href_color;
  }

  .instructional_text {
    background-color: $instructional_text;
  }

  .error_text {
    background-color: $error_text;
  }

  .button_text {
    background-color: $button_text;
  }

  .shadow_color {
    background-color: $shadow_color;
  }

  .form_field_border {
    background-color: $form_field_border;
  }

  .form_field_focus_border_color {
    background-color: $form_field_focus_border_color;
  }

  .form_field_focus_color {
    background-color: $form_field_focus_color;
  }

  .form_field_text {
    background-color: $form_field_text;
  }

  .form_field_text_fail {
    background-color: $form_field_text_fail;
  }

  .form_field_border_fail {
    background-color: $form_field_border_fail;
  }

  .form_field_fail_bkg {
    background-color: $form_field_fail_bkg;
  }

  .input_disabled_bkg {
    background-color: $input_disabled_bkg;
  }

  .form_field_background_color {
    background-color: $form_field_background_color; 
  }

  .input_disabled_border {
    background-color: $input_disabled_border;
  }

  .input_disabled_text {
    background-color: $input_disabled_text;
  }

  .ins_color {
    background-color: $ins_color;
  }

  .mark_color {
    background-color: $mark_color;
  }

  .webkit_tap_hightlight {
    //background-color: $webkit_tap_hightlight;
  }

  .selection_color {
    background-color: $selection_color;
  }

  .selection_text_color {
    background-color: $selection_text_color;
  }
  /////// semantic color blocks ////////


  ////// 12/16 col 960 grid system ///////////
  // used only for the UI display of the 960 grid
  // not intended to be used throughout the application

  .grid_960 {
    background: url(#{$imgDir}12_col.gif) repeat-y ;
    width: #{960 / $em}em;
    @include clearfix;
    text-align: center;
    margin: 10px 0;
    float: left;
    font-weight: bold;
    ul {
      @include clearfix;
      margin: 1em 0;
      li {
        background: fadeout($india_grey, 50%);
        @include box_shadow(inset 0 0 10px, $alpha_grey);
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    &.col_16 {
      background: url(/axle/images/16_col.gif) repeat-y ;
    }
  }

  .grid_768 {
    @extend .grid_960;
    background: url(/axle/images/768_col.png) repeat-y ;
    width: #{768 / $em}em;
  }

  .grid_320 {
    @extend .grid_960;
    width: #{320 / $em}em;
    margin-right: #{640 / $em}em;
  }
  .grid_760 {
    @extend .grid_960;
    width: #{756 / $em}em;
    margin-right: #{200 / $em}em;
    &.col_12_ipad {
      background: url(/axle/images/10_col.png) repeat-y ;
    }


  }

  // standard pixel based grid
  // ------------------------
  .grid-1 {
    @include grid(12,1);
  }
  .grid-2 {
    @include grid(12,2);
  }
  .grid-3 {
    @include grid(12,3);
  }
  .grid-4 {
    @include grid(12,4);
  }
  .grid-5 {
    @include grid(12,5);
  }
  .grid-6 {
    @include grid(12,6);
  }
  .grid-7 {
    @include grid(12,7);
  }
  .grid-8 {
    @include grid(12,8);
  }
  .grid-9 {
    @include grid(12,9);
  }
  .grid-10 {
    @include grid(12,10);
  }
  .grid-11 {
    @include grid(12,11);
  }
  .grid-12 {
    @include grid(12,12);
  }

  .grid_1 {
    @include grid(12,1,percent);
  }
  .grid_2 {
    @include grid(12,2,percent);
  }
  .grid_3 {
    @include grid(12,3,percent);
  }
  .grid_4 {
    @include grid(12,4,percent);
  }
  .grid_5 {
    @include grid(12,5,percent);
  }
  .grid_6 {
    @include grid(12,6,percent);
  }
  .grid_7 {
    @include grid(12,7,percent);
  }
  .grid_8 {
    @include grid(12,8,percent);
  }
  .grid_9 {
    @include grid(12,9,percent);
  }
  .grid_10 {
    @include grid(12,10,percent);
  }
  .grid_11 {
    @include grid(12,11,percent);
  }
  .grid_12 {
    @include grid(12,12,percent);
  }




  .grid-16-1 {
    @include grid(16,1);
  }
  .grid-16-2 {
    @include grid(16,2);
  }
  .grid-16-3 {
    @include grid(16,3);
  }
  .grid-16-4 {
    @include grid(16,4);
  }
  .grid-16-5 {
    @include grid(16,5);
  }
  .grid-16-6 {
    @include grid(16,6);
  }
  .grid-16-7 {
    @include grid(16,7);
  }
  .grid-16-8 {
    @include grid(16,8);
  }
  .grid-16-9 {
    @include grid(16,9);
  }
  .grid-16-10 {
    @include grid(16,10);
  }
  .grid-16-11 {
    @include grid(16,11);
  }
  .grid-16-12 {
    @include grid(16,12);
  }
  .grid-16-13 {
    @include grid(16,13);
  }
  .grid-16-14 {
    @include grid(16,14);
  }
  .grid-16-15 {
    @include grid(16,15);
  }
  .grid-16-16 {
    @include grid(16,16);
  }


  ///////// 12 col 960 grid system ///////////

}

.inner_widget {
  background-position: -10px 0 !important;
}

.grid_12_col_background {
  background: url(#{$imgDir}12_col.gif) repeat-y ;
  margin-bottom: 20px;
  float: left;
  width: 100%;    
}

.grid_12_col_background_shift {
  @extend .grid_12_col_background;        
  @extend .inner_widget;
}

.grid_16_col_background {
  @extend .grid_12_col_background;
  background: url(/axle/images/16_col.gif);
}

.grid_16_col_background_shift {
  @extend .grid_16_col_background;        
  @extend .inner_widget;
}

//// styleguide UI ////



///////////// fallbacks //////////////////
.gecko.styleguide {
  pre {
    font-weight: normal;
  }
}

///////////// prettify styles //////////////////
// ----------------------------------------
// *
// * Derived from einaros's Sons of Obsidian theme at
// * http://studiostyl.es/schemes/son-of-obsidian by
// * Alex Ford of CodeTunnel:
// * http://CodeTunnel.com/blog/post/71/google-code-prettify-obsidian-theme
// *

.str
{
  color: #EC7600;
}
.kwd
{
  color: #93C763;
}
.com
{
  color: #66747B;
}
.typ
{
  color: #678CB1;
}
.lit
{
  color: #FACD22;
}
.pun
{
  color: #F1F2F3;
}
.pln
{
  color: #F1F2F3;
}
.tag
{
  color: #8AC763;
}
.atn
{
  color: #E0E2E4;
}
.atv
{
  color: #EC7600;
}
.dec
{
  color: purple;
}
pre.prettyprint
{
  border: 0px solid #888;
}
ol.linenums
{
  margin-top: 0;
  margin-bottom: 0;
}
.prettyprint {
  background: #252525;
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
  color: #555;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #3F3F3F;
}
