@import "mixin_arguments";

// The /imports/design.SCSS file is designated for variables and repeatable objects within the .SCSS code
// ------------------------------------------------------------------------------------------------------


// Items not set to a color will appear LIME when rendered
// ----------------------------------------------
$not_set: #00FF00;

@mixin not_set_gradient() {
  @include linear_gradient_w3c ($not_set, #{$not_set 0%,$not_set 100%});
  @include linear_gradient_legacy_safari (#{color-stop(0%,$not_set), color-stop(100%,$not_set)});
  @include linear_gradient_legacy_ie ($not_set, $not_set);
}



/////// OOCSS gray color blocks ////////
// ----------------------------------------------
// adjust-color($color, [$red], [$green], [$blue], [$hue], [$saturation], [$lightness], [$alpha]
// $value: adjust-color($value, $red: , $green: , $blue: );
//
// http://www.csgnetwork.com/hexaddsubcalc.html is your best friend
// suggest workflow, take each RGB value from the hex individually and do the math

$alpha_grey: #231f20;
$bravo_grey: scale-color($alpha_grey, $lightness: 20%);
$charlie_grey: scale-color($alpha_grey, $lightness: 30%);
$delta_grey: scale-color($alpha_grey, $lightness: 40%);
$echo_grey: scale-color($alpha_grey, $lightness: 50%);
$fox_grey: scale-color($alpha_grey, $lightness: 60%);
$golf_grey: scale-color($alpha_grey, $lightness: 70%);
$hotel_grey: scale-color($alpha_grey, $lightness: 80%);
$india_grey: scale-color($alpha_grey, $lightness: 90%);
$juliet_grey: scale-color($alpha_grey, $lightness: 100%);
/////// OOCSS gray color blocks ////////


/////// OOCSS generic color blocks ////////
// ----------------------------------------------
$alpha_primary: #e31e25;    // red
$bravo_primary: #59705d;    // green
$charlie_primary: #ece911;    // yellow
$delta_primary: #00acdc;    // blue
$echo_primary: #ff5323;     // accent

$alpha_color: $alpha_primary;
$alpha_color_bravo: scale-color($alpha_color, $lightness: 10%);
$alpha_color_charlie: scale-color($alpha_color, $lightness: 20%);
$alpha_color_delta: scale-color($alpha_color, $lightness: 30%);
$alpha_color_echo: scale-color($alpha_color, $lightness: 40%);
$alpha_color_fox: scale-color($alpha_color, $lightness: 50%);
$alpha_color_golf: scale-color($alpha_color, $lightness: 60%);
$alpha_color_hotel: scale-color($alpha_color, $lightness: 70%);
$alpha_color_india: scale-color($alpha_color, $lightness: 80%);
$alpha_color_juliet: scale-color($alpha_color, $lightness: 90%);

$bravo_color: $bravo_primary;
$bravo_color_bravo: scale-color($bravo_color, $lightness: 10%);
$bravo_color_charlie: scale-color($bravo_color, $lightness: 20%);
$bravo_color_delta: scale-color($bravo_color, $lightness: 30%);
$bravo_color_echo: scale-color($bravo_color, $lightness: 40%);
$bravo_color_fox: scale-color($bravo_color, $lightness: 50%);
$bravo_color_golf: scale-color($bravo_color, $lightness: 60%);
$bravo_color_hotel: scale-color($bravo_color, $lightness: 70%);
$bravo_color_india: scale-color($bravo_color, $lightness: 80%);
$bravo_color_juliet: scale-color($bravo_color, $lightness: 90%);

$charlie_color: $charlie_primary;
$charlie_color_bravo: scale-color($charlie_color, $lightness: 10%);
$charlie_color_charlie: scale-color($charlie_color, $lightness: 20%);
$charlie_color_delta: scale-color($charlie_color, $lightness: 30%);
$charlie_color_echo: scale-color($charlie_color, $lightness: 40%);
$charlie_color_fox: scale-color($charlie_color, $lightness: 50%);
$charlie_color_golf: scale-color($charlie_color, $lightness: 60%);
$charlie_color_hotel: scale-color($charlie_color, $lightness: 70%);
$charlie_color_india: scale-color($charlie_color, $lightness: 80%);
$charlie_color_juliet: scale-color($charlie_color, $lightness: 90%);

$delta_color: $delta_primary;
$delta_color_bravo: scale-color($delta_color, $lightness: 10%);
$delta_color_charlie: scale-color($delta_color, $lightness: 20%);
$delta_color_delta: scale-color($delta_color, $lightness: 30%);
$delta_color_echo: scale-color($delta_color, $lightness: 40%);
$delta_color_fox: scale-color($delta_color, $lightness: 50%);
$delta_color_golf: scale-color($delta_color, $lightness: 60%);
$delta_color_hotel: scale-color($delta_color, $lightness: 70%);
$delta_color_india: scale-color($delta_color, $lightness: 80%);
$delta_color_juliet: scale-color($delta_color, $lightness: 90%);

$echo_color: $echo_primary;
$echo_color_bravo: scale-color($echo_color, $lightness: 10%);
$echo_color_charlie: scale-color($echo_color, $lightness: 20%);
$echo_color_delta: scale-color($echo_color, $lightness: 30%);
$echo_color_echo: scale-color($echo_color, $lightness: 40%);
$echo_color_fox: scale-color($echo_color, $lightness: 50%);
$echo_color_golf: scale-color($echo_color, $lightness: 60%);
$echo_color_hotel: scale-color($echo_color, $lightness: 70%);
$echo_color_india: scale-color($echo_color, $lightness: 80%);
$echo_color_juliet: scale-color($echo_color, $lightness: 90%);







//// color blocks ////////


/////// gradient color mixins ////////
// ----------------------------------------------

//background: linear-gradient(top, 

$alpha_color_gradient_var_w3c: #{$delta_color_fox 0%, $delta_color_charlie 50% ,$delta_color 100%};
$alpha_color_gradient_var_legacy_safari: #{color-stop(0%,$delta_color_fox), color-stop(50%,$delta_color_charlie), color-stop(100%,$delta_color)};

@mixin alpha_color_gradient {
  @include linear_gradient_legacy_safari ($alpha_color_gradient_var_legacy_safari);
  @include linear_gradient_w3c ($echo_color_bravo, $alpha_color_gradient_var_w3c);
  @include linear_gradient_legacy_ie ($delta_color_fox, $delta_color);
}

//-

$bravo_color_gradient_var_w3c: #{$delta_color 0%, $delta_color_charlie 50% ,$delta_color_fox 100%};
$bravo_color_gradient_var_legacy_safari: #{color-stop(0%,$delta_color), color-stop(50%,$delta_color_charlie), color-stop(100%,$delta_color_fox)};

@mixin bravo_color_gradient {
  @include linear_gradient_legacy_safari ($bravo_color_gradient_var_legacy_safari);
  @include linear_gradient_w3c ($echo_color_bravo, $bravo_color_gradient_var_w3c);
  @include linear_gradient_legacy_ie ($delta_color, $delta_color_fox);
}

//-

@mixin charlie_color_gradient {
  @include linear_gradient_w3c ($white, #{$fox_grey 0%,$delta_grey 100%});
  @include linear_gradient_legacy_safari (#{color-stop(0%,$fox_grey), color-stop(100%,$delta_grey)});
  @include linear_gradient_legacy_ie ($white, $white);
}

@mixin delta_color_gradient {
  @include linear_gradient_w3c ($white, #{$delta_grey 0%,$fox_grey 100%});
  @include linear_gradient_legacy_safari (#{color-stop(0%,$delta_grey), color-stop(100%,$fox_grey)});
  @include linear_gradient_legacy_ie ($white, $white);
}

//-

@mixin echo_color_gradient {
  @include linear_gradient_w3c ($bravo_color_bravo, #{$bravo_color_charlie 0%,$bravo_color 100%});
  @include linear_gradient_legacy_safari (#{color-stop(0%,$bravo_color_charlie), color-stop(100%,$bravo_color)});
  @include linear_gradient_legacy_ie ($bravo_color_charlie, $bravo_color);
}

@mixin fox_color_gradient {
  @include linear_gradient_w3c ($bravo_color, #{$bravo_color 0%,$bravo_color_charlie 100%});
  @include linear_gradient_legacy_safari (#{color-stop(0%,$bravo_color), color-stop(100%,$bravo_color_charlie)});
  @include linear_gradient_legacy_ie ($bravo_color, $bravo_color_charlie);
}




// @mixin golf_color_gradient {
//   @include two_stop_linear_gradient($not_set, $not_set);
// }
// 
// @mixin hotel_color_gradient {
//   @include two_stop_linear_gradient($not_set, $not_set);
// }
// 
// @mixin india_color_gradient {
//   @include two_stop_linear_gradient($not_set, $not_set);
// }
// 
// @mixin juliet_color_gradient {
//   @include two_stop_linear_gradient($not_set, $not_set);
// }
// 
// @mixin kilo_color_gradient {
//   @include two_stop_linear_gradient($not_set, $not_set);
// }




// a standardized border radius
// ----------------------------
@mixin standard_rounded_border {
	@include border_radius(#{3 / $em}em);
	border: 1px solid $border_color;
}





// This mixin is used for a linear layout of LIs versus using floats
// -----------------------------------------------------------------
@mixin ul_flexbox ($width :100%, $height: auto, $text_align :center) {
  ul {
    @include flexbox (horizontal, center, stretch, $width, $height);
  }
  li {
    @include flex(1);
    text-align: $text_align;
    height: $height;
    line-height: $height;
  }
}
///////// general UI mixins /////////


/////// axle's semantic combinations ////////
// ----------------------------------------------

// abstract 'white' value to easily applied to semantic class objects
$white: #fff;

// default shadow colors
$shadow_color: fade-out($alpha_grey, 0.5);

// primary header font color
$primary_header_color: $alpha_grey;

// primary font color for the app
$primary_text: $bravo_grey;

// default <a href="#"> link color
$href_color: $delta_color;
$href_color_alt: $alpha_color;

// used with the <ins> tag
// http://www.w3schools.com/tags/tag_ins.asp
$ins_color: $charlie_color;

// used with the <mark> tag
// http://www.w3schools.com/html5/tag_mark.asp
$mark_color: $charlie_color;

// webkit tap highlight color
$webkit_tap_hightlight: $delta_color_bravo;

// overrides the default content selection color in the browser
$selection_color: $charlie_color;
$selection_text_color: $primary_text;

// border color
$border_color: $charlie_grey;

// form colors
$form_field_background_color: $india_grey;
$form_field_border: $india_grey;
$form_field_text: $primary_text;
$form_field_focus_border_color: $delta_color_charlie;
$form_field_focus_color: scale-color($india_grey, $lightness: 40%);


$form_field_fail: $alpha_color;
$form_field_border_fail: $form_field_fail;
$form_field_fail_bkg: $white;
$error_text: $form_field_fail;
$form_field_text_fail: $form_field_fail;

$input_disabled: $bravo_grey;
$input_disabled_border: lighten($input_disabled, 50%);
$input_disabled_bkg: lighten($input_disabled, 75%);
$input_disabled_text: lighten($input_disabled, 50%);

$primary_button_border_color: $delta_grey;
$secondary_button_border_color: $delta_grey;

$instructional_text: $charlie_grey;


// colors for buttons
$button_text: $delta_color;
/////// axle's semantic combinations ////////