@import "mixin_arguments";


////////////// Form mixins ////////////////
// ---------------------------------------

@mixin field_input_spacing() {
	margin-bottom: 1.0em;
}
		
@mixin field_focus() {
	&:hover {
		border-color: $form_field_focus_border_color;
	}
	&:focus {
		background-color: $form_field_focus_color;
		border-color: $form_field_focus_border_color;
		outline: none;
	}
}

@mixin form_input_list {
	@include clearfix;
	margin-bottom: 1em;
	float: left;
	li {
		width: 100%;
	}
	label {
		text-align: left !important;
		font-weight: normal;
		height: 1.0em !important;
		line-height: 1.0em !important;
		margin-bottom: 1.0em;
	}
}

@mixin vertical_checkbox_radiobutton_input_default_layout {
	@include field_input_spacing;
	@include checkbox_radio_inputs_default;
	float: left;
	width: 100%;
	li {
		line-height: 1em;
		height: 1em;
		margin-bottom: 1em;
	}
	.gecko & {
		margin-bottom: 1.5em !important;
	}
	.ie & {
		margin-bottom: 2.0em !important;
	}
}

@mixin horizontal_form_input_list {
	@include form_input_list;
	margin-left: 16.083333em;
	li {
		&:first-child {
			margin-top: -1.7em;
		}
	}
}

@mixin checkbox_radio_inputs_default {
	li {
		margin-right: .8333333em;
		padding-right: .8333333em;
		float: none;
	}
	label {
		display: inline-block;
		line-height: 1.5em;
		font-weight: normal;
		font-size: 1em;
		margin: 0px;
	}
	input[type=checkbox] {
		float: none;
	}
	input[type=radio] {
		margin-right: 0.5em;
	}
}


@mixin label_line_wrap {
	label {
		span {
			display: block;
			margin-top: -1em;
		}
	}
}

@mixin compressed_select_menu {
	fieldset {
		margin-right: 0.8333333em;
		float: left;
		width: auto;
		label {
			width: auto;
			font-size: 1.25em;
			font-family: arial;
			line-height: 1.6em;
			margin-bottom: 0;
			font-weight: bold;
			margin-right: 0.5em;
		}
	}
}

//////// Form settings //////////



/////////// Alert icon mixins //////////////
// -----------------------------------------
@mixin warning_box() {
	@include border_radius(6px);
	margin-bottom: 16px;
	padding: 6px 10px 10px;
}
	
@mixin warning_icon_placement() {
	width: 16px;
	height: 17px;
	display: inline-block;
	overflow: hidden;
	margin-right: 8px;
	position: relative;
	top: 4px;
}
	
@mixin warning_placement_before() {
	content: url(/public/images/alert_icons_sprite.png);
	left: 0px;
	position: relative;
}
////////////// Alert icon Mixins //////////////
