// All google font includes are placed in the RESET.SCSS file
// -----------------------------------------------------------

//@import "font_libraries/_Lubalin.scss";

@import "mixin_arguments";

// * ------------------
// Type defaults
// * ------------------
// only need to edit default font size and family, magical SASS takes care of the rest
$font_size: 14;
$legacy_font_size: 10;
$em: $font_size;

$heading_1: 36;
$heading_2: 24;
$heading_3: 22;
//$heading_4: 18;

//$xx_small_point_size: 6;
//$x_small_point_size: 9;
$small_point_size: 12;
$large_point_size: 16;
//$x_large_point_size: 16;
//$xx_large_point_size: 18;
//$xxx_large_point_size: 20;
//$xxxx_large_point_size: 22;

$line: $font_size * 1.5;
$line_height: #{$line / $em}em;

$primary_font_family: #{'helvetica', sans-serif};
@mixin primary_font_family {
	font-family: $primary_font_family;
}
$secondary_font_family: #{Verdana, Arial, Helvetica, sans-serif};

$heading_font_family: #{Arial, Helvetica, serif};

$googlefont_alpha: #{'Puritan', sans-serif};
$googlefont_bravo: #{'Lato', sans-serif};
//$webfont_alpha: #{ };
$iconfont_alpha: #{'PointersRegular'};

//////// heading text mixins //////////
// ------------------------------------------------
@mixin heading ($font_size: $heading_1, $family: default, $line_height: 1em, $color: $primary_header_color, $font_weight: bold, $letter_spacing: 0, $margin_bottom: 20) {
	font-size: #{$font_size / $em}em;
	color: $color;
	line-height: $line_height;
	font-weight: $font_weight;
	margin-bottom: #{$margin_bottom / $font_size}em;
	@if $family == alpha {
		font-family: $googlefont_alpha;
	}
	@else if $family == bravo {
		font-family: $googlefont_bravo;
	}
	hgroup & {
		margin-bottom: 0 !important;
	}
	letter-spacing: $letter_spacing;
}


@mixin subheader ($font_size: $heading_4, $background: $charlie_grey, $color: $alpha_grey) {
	@include heading($font_size: $font_size, $family: lubalin, $line_height: 2em, $color: $color);
	background: $background;
	@include border_radius(#{3 / $font_size}em);
	text-indent: #{10 / $font_size}em;
}

//////// heading text mixins //////////


//////// standard text mixins //////////
// ------------------------------------------------


//$xx_small_em: #{$xx_small_point_size / $em}em;
//@mixin xx_small ($size: $xx_small_em, $line-height: $line_height) {
//	@include font($size, $line-height); 
//}
//
//
//$x_small_em: #{$x_small_point_size / $em}em;
//@mixin x_small ($size: $x_small_em, $line-height: $line_height) {
//	@include font($size, $line-height); 
//} 


$small_em: #{$small_point_size / $em}em;
@mixin small ($size: $small_em, $line-height: $line_height) {
	@include font($size, $line-height); 
}

@mixin medium ($size: 1em, $line-height: $line_height) {
	@include font($size, $line-height);  //12px spec
}


$large_em: #{$large_point_size / $em}em;
@mixin large ($size: $large_em, $line-height: $line_height) {
	@include font($size, $line-height); 
}


//$x_large_em: #{$x_large_point_size / $em}em;
//@mixin x_large ($size: $x_large_em, $line-height: $line_height) {
//	@include font($size, $line-height); 
//}
//
//
//$xx_large_em: #{$xx_large_point_size / $em}em;
//@mixin xx_large ($size: $xx_large_em, $line-height: $line_height) {
//	@include font($size, $line-height); 
//}
//
//
//$xxx_large_em: #{$xxx_large_point_size / $em}em;
//@mixin xxx_large ($size: $xxx_large_em, $line-height: $line_height) {
//	@include font($size, $line-height); 
//}
//
//
//$xxxx_large_em_scale: #{$xxxx_large_point_size / $em};
//@mixin xxxx_large ($size: 1em, $line-height: $line_height) {
//	@include font(#{$xxxx_large_em_scale}em); //22px spec
//	
//}


//////// standard text mixins //////////



//////// text with background color mixins //////////
// --------------------------------------------------

@mixin bkg_text ($background: #fff, $text_color: #313131, $href: #1199dd){
	background-color: $background;
	color: $text_color;
	a {
		color: $href;
	}
}

// --------------------------------------------------
//////// text with background color mixins //////////


////////// CSS letter case mixins  ////////////
// -------------------------------------------
@mixin uppercase {
	text-transform: uppercase;
}

@mixin lowercase {
	text-transform: lowercase;
}

@mixin capitalize {
	text-transform: capitalize;
}
////////// CSS letter case mixins  ////////////