.content_block_alpha {
	margin-bottom: #{10 / $em}rem;
	padding-bottom: #{20 / $em}rem;
	background: $white;
	section {
		padding: 0 #{25 / $em}rem;
	}
	img {
		width: #{80 / $em}rem;
		height: #{125 / $em}rem;
		float: left;
		padding-right: #{30 / $em}rem;
		padding-bottom: #{10 / $em}rem;
	}
	.speaker_block {
		@include grid(12,12,percent);
                float:none !important;
		a {
			display: block;
			color: $href_color_alt;
		}
                p {
                    margin-top: 20px;
                }
	}
	.link_carousel {
		text-align: center;
		a, p {
			display: inline-block;
			margin-bottom: 0;
		}
		a {
			@extend .iconfont_alpha;
			text-decoration: none;
			@include small;
			padding: 0 #{10 / $em}rem;
			&:hover {
				color: $alpha_color;
			}
		}
		&+p {
			text-align: center;
		}
	}
	header {
		h1 {
			text-transform: uppercase;
			@extend .block_header_1;
		}	
	}
	h2 {
		@include heading($font-size: $heading_3, $family: alpha, $font_weight: bolder, $color: $alpha_grey, $line_height: 1.5em);
		margin-top: #{30 / $em}rem;
	}
	border: 1px solid $india_grey;
} 

.content_block_bravo {
	@extend .content_block_alpha;
	header {
		h1 {
			@extend .block_header_2;
		}
	}
}

.content_block_charlie {
	@extend .content_block_alpha;
	header {
		h1 {
			@extend .block_header_3;
		}
	}
}
