.site_header {
  @extend .clearfix;
  height: #{165 / $em}rem;
  background: url(#{$imgDir}uxmad_logo.png) no-repeat 50% 10%;
  @include grid(12,12,percent);
  nav {
    @include grid(12,3,percent);
    @include alpha;
    @include prefix(12,1,percent);
    @extend .headings_3;
    color: $alpha_color;
    a {
      text-decoration: none;
      color: $alpha_grey;
      &:hover {
        color: $alpha_color;
      }
    }
  }
  .logo {
    @include grid(12,4,percent);
    text-indent: -9999px;
    height:70px;
  }
  #logo {
    display:block;
  }
  .event_date {
    @include grid(12,3,percent);
    float: right;
    @include omega;
    @extend .headings_3;
    text-align: right;
    @include suffix(12,1,percent);
  }
  li {
    float: left;
    width: 100%;
    margin-bottom:0;
  }
}

.site_hgroup {
  @include grid(12,12,percent);
  display: none;
  margin-top: #{90 / $em}rem;
  text-align: center;
  p {
    @extend .headings_1;
    margin-bottom: 0;
  }
  a {
    &:nth-child(2) {
      color: $alpha_color;
    }
  }
}
