/////// primary buttons ///////////


// edit your variables //
// --------------------------------------- //

// primary button values //
// ---------------------- //
@mixin primary_button_color {
	@extend .alpha_color_gradient;
}

@mixin primary_button_hover {
	@extend .bravo_color_gradient;
}

@mixin primary_button_active {
	@extend .primary_button_hover;
}

@mixin primary_button_border {
	border: 1px solid $primary_button_border_color;
}
// ---------------------- //
// primary button values  //


// This is your button //
// ---------------------------------------//
@mixin primary_button ($font_size: large) {
	@extend .primary_button_color;  //OOCSS extends mixin from line 9
	@extend .primary_button_border; //OOCSS extends mixin from line 21
	padding: 0 #{10 / $em}em;
	line-height: #{30 / $em}em;
	@include border_radius(#{3 / $em}em);
	color: $button_text;
	a & {
		text-decoration: none;
	}
	@if $font_size == medium {
		@extend .medium;
	}
	@else if $font_size == large {
		@extend .large;
	}
	font-weight: bold;
	
	width: auto;
	margin-right: 1em;
		
	&:last-child {
		margin-right: 0;
	}

	&:hover {
		@include primary_button_hover;
	}
		
	&:active {
		@include primary_button_active;
	}
		
	&[disabled] {
		@include disabled_button;
	}
}


@mixin all_primary_button {
	button, .button {
		@include primary_button;
		&:nth-child(n+2) {
			@include primary_button;
		}
	}
}

