@mixin editors_pick($bkg_var: transparent, $play_icon: no) {
	@include standard_block_spacing;
	margin: #{50 / $em}em 0;
	
	@if $play_icon == yes {
		@include big_pill_button(play_icon)
	}
	@else {
		@include big_pill_button();
	}
	
	padding: 0 #{70 / $em}em;
	
	@if $bkg_var == gradient_box {
		// styles to support gradient bkg and rounded box //
		padding: #{28 / $em}em #{70 / $em}em;
		@include delta_color_gradient;
		@include standard_rounded_border;	
	}
	
	@else if $bkg_var == transparent {}
	
	hgroup {
		float: left;
		h3 {
			@include heading($font-size: $heading_2, $margin_bottom: 0);
			margin-bottom: 0;
			text-align: center;
			font-weight: bold;
		}
		h4 {
			text-align: center;
			@include heading($font-size: $heading_4, $margin_bottom: 0);			
		}
	}
	button, .button {
		float: right;
	}
}

.editors_picks {
	@include editors_pick();
}

.editors_picks_playicon {
	@include editors_pick($play_icon: yes);
}

.editors_picks_gradient_box {
	@include editors_pick(gradient_box, no);
}

.editors_picks_gradient_box_playicon {
	@include editors_pick(gradient_box, yes);
}
