// mixin //
// ----- //
@mixin merchandising_badge ($height) {
	ul {
		@extend .grid_12_4;
		padding: #{33 / $em}em #{36 / $em}em;
		width: #{(300 - (37 * 2)) / $em}em;
		// ^^ that is awesome right there
		// 300px wide is the grid
		// 36px is the padding L/R
		// then 1px for the border L/R
		// SASS math for the WIN!
		// ^^ that is awesome right there
		
		min-height: $height;
		@extend .delta_color_gradient;
		@extend .standard_rounded_borders;
		
		&:first-child {
			@extend .alpha;
		}
		&:last-child {
			@extend .omega;
		}
		.ie7 & {
			display: block;
		}
	}
	li {
		&:first-child {
			//background: $delta_grey;
			height: #{120 / $em}em;
			margin-bottom: #{20 / $em}em;
		}
	}
	p {
		&:first-child {
			font-weight: bold;
		}
	}
}

// extend object //
// ------------- //
.merchandising_badges {
	@include merchandising_badge (#{330 / $em}em);
	@extend .standard_block_spacing;
}
