.srp_header {
	float: left;
	width: 100%;
	padding: #{10 / $em}em 0;
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	background: scale-color($india_grey, $lightness: 51%);
	ul {
		float: left;
		@include push(12,0.25);
	}
	li {
		float: left;
		line-height: #{35 / $em}em;
		border-right: 1px solid $hotel_grey;
		border-left: 1px solid $white;
		font-weight: bold;
		color: $bravo_color;
		text-align: center;
		margin: 0 !important;
		&:first-child {
			border-left: 0;
		}
		&:last-child {
			border-right: 0;
		}
	}
	.patient_id {
		@include grid(12,1.5);
	}
	.last_name {
		@include grid(12,1.75);
	}
	.first_name {
		@include grid(12,1.75);
	}
	.mi {
		@include grid(12,1);
	}
	.ssn {
		@include grid(12,2);
	}
	.sex {
		@include grid(12,1);
	}
	.dob {
		@include grid(12,1.5);
	}
	.source {
		@include grid(12,2);
	}
	.notes {
		@include grid(12,1.25);
	}
}


.srp_search {
	@extend .srp_header;
	background: scale-color($hotel_grey, $lightness: 40%);
	input {
		margin-bottom: 0;
		width: 72%;
	}
	select {
		margin-bottom: 0;
	}
	li {
		border-color: scale-color($hotel_grey, $lightness: 40%);
	}	
}