#carousel-mhp-full {
	@extend .standard_block_spacing;
	/////// all code is to counteract legacy cascade /////////
	.carousel-title {
		padding: 0;
		background: transparent;
		@include border_radius(0);
	}
	.category-menu {
		line-height: 3em;
		margin-right: #{10 / $em}em;
	}
	.album-carousel {
		padding: #{10 / $em}em;	
		@extend .standard_rounded_border;
	}
	//////// this is just pure evil ///////////
	//.jcarousel-list {
		li[style] {
		//	width: #{125 / $em}em !important;
			line-height: 1.3em;
		}
		//&:first-child {
		//	margin-left: #{20 / $em}em !important;
		//}
	//}
	//////// this is just pure evil ///////////
	/////// all code is to counteract legacy cascade /////////
	h3 {
		@extend .panel_headers;
	}
}
