/*
This standalone CSS is being called into the EditorialFootage family of screens  
If this document is updated, be sure to deploy the standalone CSS doc and test in this family of screens
until this widget becomes globally accessible in the application. 
*/


@import "imports/_imports.scss";

///// Styles for Three column image block w/title and caption
// ----------------------------------------------------------
@mixin self_select_menu {
	@include grid(12,3);
	@include alpha;
	
	
	//text-indent: #{10 / $em}em;
	.msie7 & {
		text-indent: 0;
	}
	font-weight: bold;
	li {
		@extend .x_large;
		line-height: 1.3em;
		padding-left: #{10 / $x_large_point_size}em;
		padding-top: #{12 / $x_large_point_size}em;
		padding-bottom: #{12 / $x_large_point_size}em;
		border-bottom: 1px solid $delta_grey;
		&:hover {
			background: $echo_grey;
		}
		&.selected {
			background: $echo_grey;
		}
	}
	a {
		display: block;
		background: url(images/self_select_panel.png) no-repeat 90% 50%;
		color: $primary_text;
		padding-right: #{25 / $em}em;
		&:hover {
			text-decoration: none;
		}
	}
	.header {
		background: $bravo_grey;
		border-color: $bravo_grey;
		color: $white;
		@media print {
			color: $alpha_grey;
		}
		&:hover {
			background: $bravo_grey;
		}
	}
	.selected {
		ul {
			margin-bottom: 0;
		}
	}
}
///// Styles for Three column image block w/title and caption


.self_select_menus {
	@include self_select_menu;
}


/* 
Bootstrap class specifically for elemental css use versus full framework 
Majority of CSS is written in order to over-ride legacy CSS with new styles. 

When new styles become pervasive, this code should be deprecated from the site and use only the .self_select_memu class
*/


////// this is total bootstrap, need to refactor this ///////////
@mixin ul_bootstrap {
	list-style: none;
	margin: 0;
	padding: 0;
}


.self_select_menus_bootstrap {
	@extend .self_select_menus;
	font-size: #{16 / $legacy_font_size}em;
	.header {
		@include medium;
		//line-height: 2.5em;
	}
	font-weight: bold;
	font-family: $primary_font_family;
	/* @mixin ul_bootstrap */
	@include ul_bootstrap;
	width: 234px;
	a {
		background-image: url(../../images/self_select_panel.png);
	}
}