////  mixins  ////
// ------------ //
@mixin showcase_hero {
	@include grid(12,8.75);
	@include omega;
	@include standard_rounded_border;
	border-width: #{10 / $em}em;
	border-color: $alpha_grey;
	&:nth-child(2) {
		border-bottom: 0;
		@include border_radius(#{6 / $em}em #{6 / $em}em 0 0);
	}
	&:last-child {
		@include border_radius(0 0 #{6 / $em}em #{6 / $em}em);
	}
	p {
		color: $white;
		@media print {
			color: $alpha_grey;
		}
		@extend .large;
		font-weight: bold;
	}
	a {
		color: $href_color_alt;
	}
}

@mixin spotlight_link {
	@include border_radius (0 0 #{4 / $em}em #{4 / $em}em);
	.spotlights {
		margin: 0 10px 10px 10px;
	}
}


@mixin spotlight {
	border: 1px solid $delta_grey;
	border-width: 0 1px;
	@extend .grid_12_3;
	&:first-child, &:last-child {
		@include grid(12,3);
		width: #{(240 - 41) / $em}em;
		border: 0;
	}
	&:last-child {
		margin-left: 0;
		padding-right: #{10 / $em}em;
	}
	h4 {
		background: $charlie_grey;
		color: $white;
		@media print {
			color: $alpha_grey;
		}
		font-size: 1em;
		line-height: 2.5em;
	}
	a {
		color: $bravo_grey;
	}
	li {
		line-height: 2em;
		&:first-child {
			margin-top: #{10 / $em}em;
		}
	}
}


@mixin spotlight_group {
	float: left;
	text-align: center;
	> ul {
		float: left;
		@extend .delta_color_gradient;
	}
}

//// objects ////
// ----------- //
.showcase_heros {
	@include showcase_hero;
}

.spotlight_links {
	@include spotlight_link;
}

.spotlight_groups {
	@include spotlight_group;
}

.spotlights {
	@include spotlight;
}