/////// disabled buttons ///////////

// edit your variables //
// ---------------------------------------//
@mixin disabled_button_color {
	@include alpha_color_gradient;
}
	
// @mixin disabled_button_hover {
// 	@include bravo_color_gradient;
// }
// 
// @mixin disabled_button_active {
// 	@include bravo_color_gradient;
// }




// This is your button //
// ---------------------------------------//
@mixin disabled_button {
	background: $input_disabled_bkg;
	border-color: $input_disabled_border;
	color: $input_disabled_text;
	&:hover {
		text-decoration: none;
		
	}
}