<header>
	<div class="site_header">
		<%= render :partial => "shared/site_nav" %>
		<div class="logo">UX Madison</div>
		<div class="event_date">July 20-21, 2012<br>Madison, WI, USA</div>
	</div>
	<div class="designer_hr"></div>
	<hgroup class="site_hgroup">
		<h1>What is user experience design?</h1>
		<p><a href="#">Buy your ticket</a> or <a href="#">hear what others think</a>.</p>
		<p>See you at the conference.</p>
	</hgroup>
</header>