<article class="content_block_alpha">
  <header>
  <h1>propose a talk</h1>
  </header>
  <section>
  <h2> We Want You! </h2>
  <p>
    User Experience has a quite broad definition. In fact many people would probably disagree as to whether certain aspects of development fit in a UX definition. For us, it's virtually anything that affects how the end-user of an application or site interacts with it. That means Visual Design, Content Strategy, Interaction Design, Page Load Times and everything in between.
  </p>
  <p>
    That's a pretty broad pool of topics. Want to dive-in but don't know what we're looking for? We do, but it's not your average talk. Forget buzzwords, forget what you think people want to hear. We want to hear about what you are passionate about. What gets you out of bed in the morning? What do you spend work hours, play hours, and all hours thinking about. That's what we want to hear from you. Propose that and we'll be able to feel it.
  </p>
  <%= link_to "https://sapling.wufoo.com/forms/uxmad-2013-call-for-proposals/", :class => "button" do %>
    Submit a talk
  <% end %>
  </section>
</article>
