<header>
<h1>hotel</h1>
</header>
<section>
<h2>Sheraton Madison</h2>
<p>We have a great rate of $99/night which includes free wifi and a hot breakfast at the Sheraton Hotel in Madison.
  <h5><a href="https://www.starwoodmeeting.com/StarGroupsWeb/booking/reservation?id=1203057565&key=A457F">Book Now</a></h5>
</section>
