<article class="content_block_charlie">
  <header>
  <h1>register</h1>
  </header>
  <section>
  <h2>Buy your ticket</h2>
  <p>
    Two days of mind-expanding content and top-shelf after-parties.
  </p>
  <ul id="prices">
    <li>
      <strong>
      $199
      </strong>
      &mdash;
      Very Early Bird Tickets (25 available)
    </li>
    <li>
      <strong>
      $299
      </strong>
      &mdash;
      Regular Conference Tickets
    </li>
  </ul>
  <p>
    Workshops to be announced at a later date.
  </p>
  <%= link_to "http://2013.uxmad.com", :class => "button", :id => "register_link" do %>
    Register
    <span class="iconfont_alpha">2</span>
  <% end %>
  </section>
</article>
