<article class="content_block_alpha">
  <header>
  <h1>2012 speakers</h1>
  </header>
  <section class="speakers">
  <div class="speaker_block">
    <ul class="cycle" id="speaker_cycle">
      <%= render :partial => 'speaker', :collection => @speakers %>
    </ul>
  </div>
  <div class="link_carousel">
    <button class="prev iconfont_alpha">1</button>
    <p><span id="current_speaker">1</span> / <%= @speakers.count || 0 %></p>
    <button class="next iconfont_alpha">2</button>
  </div>
  </section>
</article>
