<header>
	<h1>the speakers</h1>
</header>
<section>
	<h2>They talk good.</h2>
	<div class="speaker_block">
		<img src="" alt="" title="" />
		<p>Dale Sande</p>
		<a href="#">Twitter</a>
		<a href="#">Website</a>
		<a href="#">Email</a>
	</div>
	<p>Dolore freegan single-origin coffee, selvage aesthetic 8-bit ullamco farm-to-table. Squid ennui occupy single-origin coffee vice tumblr. </p>

	<p>Locavore occupy cred anim. Synth pariatur wolf, anim butcher nisi mumblecore +1 pickled banksy brunch master cleanse mcsweeney's labore photo booth. Velit eu wolf DIY, aliqua iphone dolore organic post-ironic. </p>
	<div class="link_carousel">
		<button>1</button>
		<p>12 / 43</p>
		<button>2</button>
	</div>
	<p><a href="#">All</a></p>
</section>