<li>
  <h2><%= sponsor.name %></h2>
  <%- if sponsor.image_path? %>
    <div class="sponsor-image-block">
      <%= image_tag sponsor.image_path, :class => 'sponsor-image' %>
    </div>
  <% end %>
  <p><%= sponsor.description %></p>
</li>
