<%- if @sponsors.any? %>
  <article class="content_block_alpha">
    <header>
      <h1>the sponsors</h1>
    </header>
    <section class="sponsors">
      <div class="sponsor_block">
        <ul class="cycle" id="sponsor_cycle">
          <%= render :partial => 'sponsor', :collection => @sponsors %>
        </ul>
      </div>
      <div class="link_carousel">
        <button class="prev iconfont_alpha">1</button>
        <p><span id="current_sponsor">1</span> / <%= @sponsors.count || 0 %></p>
        <button class="next iconfont_alpha">2</button>
      </div>
    </section>
  </article>
<% end %>
