<article class="content_block_bravo">
  <header>
  <h1>travel</h1>
  </header>
  <section>
  <h2>How lost can you really get on an isthmus?</h2>
  <p>UXMad takes advantage of the beautiful and iconic community owned spaces in Downtown Madison. The workshops take place at Madison College's Downton Campus. The conference proper takes place at the breathtaking Overture Center for the Arts.
    <p>
      <iframe width="255" height="255" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=201+State+St,+Madison,+WI+53703&amp;aq=0&amp;oq=201+&amp;sll=37.0625,-95.677068&amp;sspn=36.999937,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=m&amp;z=14&amp;ll=43.07476,-89.388066&amp;output=embed"></iframe>
      <br />
      <small>
        <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=201+State+St,+Madison,+WI+53703&amp;aq=0&amp;oq=201+&amp;sll=37.0625,-95.677068&amp;sspn=36.999937,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=m&amp;z=14&amp;ll=43.07476,-89.388066" style="color:#0000FF;text-align:left">View Larger Map</a>
      </small>
    </p>

  </section>
</article>
