<header>
<h1>ux mad</h1>
</header>
<section>
<h2>Relax. Engage. Refresh.</h2>
<p>SnowMobile is a one track conference with twenty-one sessions featuring speakers from near and far.  The conference will showcase to locals the assets of the UX community and allow visitors to Madison a chance to experience one of the best, brainiest, and least expensive places in the US to live and work. And cheese.</p>
</section>
