<section id="logo">
<%= image_tag "/assets/snow-mobile.png", :style => 'display: block; margin: 20px auto;' %>

  <h1>Snow*Mobile Conference</h1>
  <h2>February 15 - 16, 2013 at Union South in Madison, WI</h2>
</section>

<section>
  <p>
    Have you noticed it’s hard to find folks having meaningful discussion about Mobile Development (iOS, Android, Window Phone, Mobile Web) in Madison? Wouldn’t it be great to join a community of people who recognize the explosion of mobile devices and see how they are affecting our interactions? What if we could pull together locals and invite some experts from around the country and have that conversation in Madison.
  </p>

  <p>
    This community exists in Madison and its members are quietly shaping the future of devices and apps that you rely on every day. We’re bringing them together under one roof for two days in the middle of the winter in Wisconsin because we know there isn’t much to do between New Years and Memorial Day.
  </p>
  <br />
</section>

<section>
  <%= link_to "Buy a ticket", "http://2013.snow-mobile.org", :style => "font-size: 150%" %>
  <br />
  <%= link_to "Call for Proposals", "https://sapling.wufoo.com/forms/snowmobile-conference-call-for-proposals/" %>
  <br />
  <%= link_to "Sign-up to Volunteer (Students Only)", "https://sapling.wufoo.com/forms/snowmobile-student-volunteer-application/" %>
</section>
