<div class="column_alpha">
	<article class="content_block_alpha">
		<header>
			<h1>the speakers</h1>
		</header>
		<section>
			<h2>this is a subhead</h2>
			<p>Dolore freegan single-origin coffee, selvage aesthetic 8-bit ullamco farm-to-table. Squid ennui occupy single-origin coffee vice tumblr. </p>

			<p>Locavore occupy cred anim. Synth pariatur wolf, anim butcher nisi mumblecore +1 pickled banksy brunch master cleanse mcsweeney's labore photo booth. Velit eu wolf DIY, aliqua iphone dolore organic post-ironic. </p>
		</section>
	</article>
		
	<article class="content_block_bravo">
		<header>
			<h1>contact</h1>
		</header>
		<section>
			<h2>this is a subhead</h2>
			<p>Dolore freegan single-origin coffee, selvage aesthetic 8-bit ullamco farm-to-table. Squid ennui occupy single-origin coffee vice tumblr. </p>

			<p>Locavore occupy cred anim. Synth pariatur wolf, anim butcher nisi mumblecore +1 pickled banksy brunch master cleanse mcsweeney's labore photo booth. Velit eu wolf DIY, aliqua iphone dolore organic post-ironic. </p>
		</section>
	</article>
</div>

<div class="column_bravo">
	<article class="content_block_bravo">
		<header>
			<h1>ux mad</h1>
		</header>
		<section>
			<h2>this is a subhead</h2>
			<p>Dolore freegan single-origin coffee, selvage aesthetic 8-bit ullamco farm-to-table. Squid ennui occupy single-origin coffee vice tumblr. </p>

			<p>Locavore occupy cred anim. Synth pariatur wolf, anim butcher nisi mumblecore +1 pickled banksy brunch master cleanse mcsweeney's labore photo booth. Velit eu wolf DIY, aliqua iphone dolore organic post-ironic. </p>
		</section>
	</article>
	
	<article class="content_block_charlie">
		<header>
			<h1>the schedule</h1>
		</header>
		<section>
			<h2>this is a subhead</h2>
			<p>Dolore freegan single-origin coffee, selvage aesthetic 8-bit ullamco farm-to-table. Squid ennui occupy single-origin coffee vice tumblr. </p>

			<p>Locavore occupy cred anim. Synth pariatur wolf, anim butcher nisi mumblecore +1 pickled banksy brunch master cleanse mcsweeney's labore photo booth. Velit eu wolf DIY, aliqua iphone dolore organic post-ironic. </p>
		</section>
	</article>
	
	<article class="content_block_alpha">
		<header>
			<h1>the sponsors</h1>
		</header>
		<section>
			<h2>this is a subhead</h2>
			<p>Dolore freegan single-origin coffee, selvage aesthetic 8-bit ullamco farm-to-table. Squid ennui occupy single-origin coffee vice tumblr. </p>

			<p>Locavore occupy cred anim. Synth pariatur wolf, anim butcher nisi mumblecore +1 pickled banksy brunch master cleanse mcsweeney's labore photo booth. Velit eu wolf DIY, aliqua iphone dolore organic post-ironic. </p>
		</section>
	</article>
</div>

<div class="column_charlie">
	<article class="content_block_charlie">
		<header>
			<h1>register</h1>
		</header>
		<section>
			<h2>this is a subhead</h2>
			<p>Dolore freegan single-origin coffee, selvage aesthetic 8-bit ullamco farm-to-table. Squid ennui occupy single-origin coffee vice tumblr. </p>

			<p>Locavore occupy cred anim. Synth pariatur wolf, anim butcher nisi mumblecore +1 pickled banksy brunch master cleanse mcsweeney's labore photo booth. Velit eu wolf DIY, aliqua iphone dolore organic post-ironic. </p>
		</section>
	</article>
	
	<article class="content_block_alpha">
		<header>
			<h1>travel</h1>
		</header>
		<section>
			<h2>this is a subhead</h2>
			<p>Dolore freegan single-origin coffee, selvage aesthetic 8-bit ullamco farm-to-table. Squid ennui occupy single-origin coffee vice tumblr. </p>

			<p>Locavore occupy cred anim. Synth pariatur wolf, anim butcher nisi mumblecore +1 pickled banksy brunch master cleanse mcsweeney's labore photo booth. Velit eu wolf DIY, aliqua iphone dolore organic post-ironic. </p>
		</section>
	</article>
</div>