<div class="column_alpha">
  <article class="content_block_alpha">
    <%= render :partial => "speakers" %>
  </article>

  <article class="content_block_bravo">
    <%= render :partial => 'contact' %>
  </article>
</div>

<div class="column_bravo">
  <article class="content_block_bravo">
    <%= render :partial => 'uxmad' %>
  </article>

  <article class="content_block_charlie">
  <header>
  <h1>the schedule</h1>
  </header>
  <section>
  <h2> Thursday 7/19 </h2>
  <ul>
    <li> <strong>8am</strong> &mdash; Check In </li>
    <li> <strong>9am</strong> &mdash; Workshop Sessions </li>
    <li> <strong>Noon</strong> &mdash; Lunch </li>
    <li> <strong>1pm</strong> &mdash; Workshop Sessions </li>
    <li> <strong>5pm</strong> &mdash; Reception </li>
    <li> <strong>6:30pm</strong> &mdash; Dinner on your own </li>
    <li> <strong>8pm</strong> &mdash; Sponsored Drinkup </li>
  </ul>

  <h2> Friday 7/20 </h2>
  <ul>
    <li> <strong>8am</strong> &mdash; Check In </li>
    <li> <strong>9am</strong> &mdash; Workshop Sessions </li>
    <li> <strong>Noon</strong> &mdash; Lunch </li>
    <li> <strong>1pm</strong> &mdash; Workshop Sessions </li>
    <li> <strong>5pm</strong> &mdash; Reception </li>
    <li> <strong>6:30pm</strong> &mdash; Dinner on your own </li>
    <li> <strong>8pm</strong> &mdash; Sponsored Drinkup </li>
  </ul>

  <h2> Saturday 7/21 </h2>
  <ul>
    <li> <strong>6am</strong> &mdash; Farmer's Market </li>
    <li> <strong>9:45am</strong> &mdash; Sessions </li>
    <li> <strong>11:50am</strong> &mdash; Lunch </li>
    <li> <strong>1:20pm</strong> &mdash; Sessions </li>
    <li> <strong>6pm</strong> &mdash; Dinner on your own </li>
    <li> <strong>8pm</strong> &mdash; After Party </li>
  </ul>
  </section>
  </article>

  <%# sponsor blackout
    <article class="content_block_alpha">
  <header>
  <h1>the sponsors</h1>
  </header>
  <section>
  <h2>this is a subhead</h2>
  <p>Dolore freegan single-origin coffee, selvage aesthetic 8-bit ullamco farm-to-table. Squid ennui occupy single-origin coffee vice tumblr. </p>

  <p>Locavore occupy cred anim. Synth pariatur wolf, anim butcher nisi mumblecore +1 pickled banksy brunch master cleanse mcsweeney's labore photo booth. Velit eu wolf DIY, aliqua iphone dolore organic post-ironic. </p>
  <div class="link_carousel">
  <a href="#">&iexcl;</a>
  <p>12 / 43</p>
  <a href="#">1</a>
  </div>
  <p><a href="#">All</a></p>
  </section>
  </article>
            end sponsor blackout %>
        </div>

        <div class="column_charlie">
          <article class="content_block_charlie">
          <header>
          <h1>register</h1>
          </header>
          <section>
          <h2>Buy your ticket</h2>
          <p>
            Three days of mind-expanding content and top-shelf after-parties.
          </p>
          <ul id="prices">
            <li>
              <strong>
              $399
              </strong>
              &mdash;
              Conference & Workshop
            </li>
            <li>
              <strong>
              $149
              </strong>
              &mdash;
              Workshop Only
            </li>
            <li>
              <strong>
              $299
              </strong>
              &mdash;
              Conference Only
            </li>
          </ul>
          <%= link_to register_path, :class => "button", :id => "register_link" do %>
            Register
            <span class="iconfont_alpha">2</span>
          <% end %>
          </section>
          </article>

          <article class="content_block_alpha">
          <header>
          <h1>travel</h1>
          </header>
          <section>
          <h2>How lost can you really get on an isthmus?</h2>
          <p>UXMad takes advantage of the beautiful and iconic community owned spaces in Downtown Madison. The workshops take place on the shores of Lake Mendota at the Memorial Union. The conference proper takes place at the breathtaking Overture Center for the Arts.
            <p>
              <iframe width="255" height="255" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=201+State+St,+Madison,+WI+53703&amp;aq=0&amp;oq=201+&amp;sll=37.0625,-95.677068&amp;sspn=36.999937,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=m&amp;z=14&amp;ll=43.07476,-89.388066&amp;output=embed"></iframe>
              <br />
              <small>
                <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=201+State+St,+Madison,+WI+53703&amp;aq=0&amp;oq=201+&amp;sll=37.0625,-95.677068&amp;sspn=36.999937,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=m&amp;z=14&amp;ll=43.07476,-89.388066" style="color:#0000FF;text-align:left">View Larger Map</a>
              </small>
            </p>

            </section>
            </article>
          </div>
