<section id="lodging_hotel">
<h3>Lodging</h3><br />
<div id="union_hotel" class="leftcol-wide">
  <h2>Union Hotel</h2>
  <p>Rooms are limited, so book your room at the Wisconsin Union Hotel today and use our group code: SNOWMOBILE.  Guest Rate is $117 per night, parking included (If parking is needed please mention at the time of booking.  Guest must check into the hotel first before entering the underground parking ramp.)</p>
  <img src="images/suite.jpg"><img src="images/2bedroom.jpg">
</div>
<div class="lodging_details"><p>Address: 1308 W. Dayton St.<br />
    Madison, WI 53715<br />
    Website: <a href="http://www.union.wisc.edu/wuhotel.htm">Wisconsin Union Hotel</a><br />
    Telephone: 608-263-2600<br /><br />
    Room Block Expires: January 15, 2013</p>
</div>
</section>
<section id="lodging_hostel">
<div id="hostel" class="leftcol-wide">
  <hr>
  <h2>Hostel</h2>
  <p>Hostels are not for everyone and this one has common rooms and showers that might not be your cup of tea. However if you can get past a few details like that you can meet some excellent folks travelling the world and get your own bed to crash on for less than a dinner for two.</p>
</div>
<div class="lodging_details">
  <p>Address: 141 S Butler St.<br />Madison, WI<br />
    Website: <a href="http://www.hiusa.org/madison">Hostelling Int'l Madison</a><br />
    One Bed: $18</p>
</div>
</section>
