<header class="axle_main_header">| Axle | 'NAME'</header>
<section class="axle_body">
	<div class="axle_instructions">
		<header class="axle_header">
			<p>1. HEADING</p>
			<p>WORDS</p>
		</header>
		<div>
			ELEMENT_WIDGET
		</div>
		<div>
			<p><b>CODE_EXAMPLE:</b></p>
			<pre class="prettyprint">
CODE
			</pre>
		</div>
	</div>
</section>