<header class="axle_main_header">| Axle | 'Abstract Colors'</header>
<section class="axle_body">
	<div class="axle_instructions">
		<header class="axle_header">
			<p>More info on how color works in Axle, <a href="http://goo.gl/V5kkq">please read</a>.</p>
		</header>
		<header class="axle_header">
			<p>1. Greyscale chart</p>
		</header>
		<div class="colorcode">
			<div class="alpha_grey">
				<p>$alpha_grey</p>
			</div>
			<div class="bravo_grey">
				<p>$bravo_grey</p>
			</div>
			<div class="charlie_grey">
				<p>$charlie_grey</p>
			</div>
			<div class="delta_grey">
				<p>$delta_grey</p>
			</div>
			<div class="echo_grey">
				<p>$echo_grey</p>
			</div>
			<div class="fox_grey">
				<p>$fox_grey</p>
			</div>
			<div class="golf_grey">
				<p>$golf_grey</p>
			</div>
			<div class="hotel_grey">
				<p>$hotel_grey</p>
			</div>
			<div class="india_grey">
				<p>$india_grey</p>
			</div>
			<div class="juliet_grey">
				<p>$juliet_grey</p>
			</div>
		</div>
		
		<header class="axle_header">
			<p>2. Colors</p>
		</header>
		<div class="colorcode">
			<div class="alpha_color">
				<p>$alpha_color</p>
			</div>
			<div class="alpha_color_bravo">
				<p>$alpha_color_bravo</p>
			</div>
			<div class="alpha_color_charlie">
				<p>$alpha_color_charlie</p>
			</div>
			<div class="alpha_color_delta">
				<p>$alpha_color_delta</p>
			</div>
			<div class="alpha_color_echo">
				<p>$alpha_color_echo</p>
			</div>
			<div class="alpha_color_fox">
				<p>$alpha_color_fox</p>
			</div>
			<div class="alpha_color_golf">
				<p>$alpha_color_golf</p>
			</div>
			<div class="alpha_color_hotel">
				<p>$alpha_color_hotel</p>
			</div>
			<div class="alpha_color_india">
				<p>$alpha_color_india</p>
			</div>
			<div class="alpha_color_juliet">
				<p>$alpha_color_juliet</p>
			</div>
			
			<p>&nbsp;</p>
			
			<div class="bravo_color">
				<p>$bravo_color</p>
			</div>
			<div class="bravo_color_bravo">
				<p>$bravo_color_bravo</p>
			</div>
			<div class="bravo_color_charlie">
				<p>$bravo_color_charlie</p>
			</div>
			<div class="bravo_color_delta">
				<p>$bravo_color_delta</p>
			</div>
			<div class="bravo_color_echo">
				<p>$bravo_color_echo</p>
			</div>
			<div class="bravo_color_fox">
				<p>$bravo_color_fox</p>
			</div>
			<div class="bravo_color_golf">
				<p>$bravo_color_golf</p>
			</div>
			<div class="bravo_color_hotel">
				<p>$bravo_color_hotel</p>
			</div>
			<div class="bravo_color_india">
				<p>$bravo_color_india</p>
			</div>
			<div class="bravo_color_juliet">
				<p>$bravo_color_juliet</p>
			</div>
			
			<p>&nbsp;</p>
			
			<div class="charlie_color">
				<p>$charlie_color</p>
			</div>
			<div class="charlie_color_bravo">
				<p>$charlie_color_bravo</p>
			</div>
			<div class="charlie_color_charlie">
				<p>$charlie_color_charlie</p>
			</div>
			<div class="charlie_color_delta">
				<p>$charlie_color_delta</p>
			</div>
			<div class="charlie_color_echo">
				<p>$charlie_color_echo</p>
			</div>
			<div class="charlie_color_fox">
				<p>$charlie_color_fox</p>
			</div>
			<div class="charlie_color_golf">
				<p>$charlie_color_golf</p>
			</div>
			<div class="charlie_color_hotel">
				<p>$charlie_color_hotel</p>
			</div>
			<div class="charlie_color_india">
				<p>$charlie_color_india</p>
			</div>
			<div class="charlie_color_juliet">
				<p>$charlie_color_juliet</p>
			</div>
			
			<p>&nbsp;</p>
			
			<div class="delta_color">
				<p>$delta_color</p>
			</div>
			<div class="delta_color_bravo">
				<p>$delta_color_bravo</p>
			</div>
			<div class="delta_color_charlie">
				<p>$delta_color_charlie</p>
			</div>
			<div class="delta_color_delta">
				<p>$delta_color_delta</p>
			</div>
			<div class="delta_color_echo">
				<p>$delta_color_echo</p>
			</div>
			<div class="delta_color_fox">
				<p>$delta_color_fox</p>
			</div>
			<div class="delta_color_golf">
				<p>$delta_color_golf</p>
			</div>
			<div class="delta_color_hotel">
				<p>$delta_color_hotel</p>
			</div>
			<div class="delta_color_india">
				<p>$delta_color_india</p>
			</div>
			<div class="delta_color_juliet">
				<p>$delta_color_juliet</p>
			</div>
			
			<p>&nbsp;</p>
			
			<div class="echo_color">
				<p>$echo_color</p>
			</div>
			<div class="echo_color_bravo">
				<p>$echo_color_bravo</p>
			</div> 
			<div class="echo_color_charlie">
				<p>$echo_color_charlie</p>
			</div>
			<div class="echo_color_delta">
				<p>$echo_color_delta</p>
			</div>
			<div class="echo_color_echo">
				<p>$echo_color_echo</p>
			</div>
		</div>
		
		<header class="axle_header">
			<p>3. Gradient colors</p>
			<article><em><p>The following examples illustrate how a combination UI of gradient background that contains text and link content.</p></em></article>
		</header>
		<div class="gradient colorcode">
			<div class="alpha_color_gradient">
				<p>.alpha_color_gradient</p>
			</div>
			<div class="bravo_color_gradient">
				<p>.bravo_color_gradient</p>
			</div>
			<div class="charlie_color_gradient">
				<p>.charlie_color_gradient</p>
			</div>
			<div class="delta_color_gradient">
				<p>.delta_color_gradient</p>
			</div>
			<div class="echo_color_gradient">
				<p>.echo_color_gradient</p>
			</div>
			<div class="fox_color_gradient">
				<p>.fox_color_gradient</p>
			</div>
		</div>
	</div>
</section>