<header class="axle_main_header">| Axle | 'buttons'</header>
<section class="axle_body">
	<div class="axle_instructions">
		<header class="axle_header">
			<p>1. Primary buttons</p>
			<p>Axle's buttons are based on the principal that the styles support the markup. The UIs presented here are styled simply for <code>button, a.button</code>.  Follow the code samples below for instructions on using class placed on the parent block element to get special layout and sizing adjustments. </p>
		</header>
		<div class="axle_buttons">
			<div>
				<button>Button text</button><button>Button text</button><button disabled="disabled">Button text</button>
			</div>
			<div>
				<a href="#" class="button">Button text</a><a href="#" class="button">Button text</a><a href="#" disabled="disabled" class="button">Button text</a>
			</div>
			<div>
		<div>
			<p>All buttons by default assume this style.  Apply the <code>disabled="disabled"</code> attribute to the buttons rendered useless to the user.</p>
			<p><b>Example code:</b></p>
			<pre class="prettyprint">
&lt;button&gt;Button text&lt;/button&gt;&lt;button&gt;Button text&lt;/button&gt;&lt;button disabled=&quot;disabled&quot;&gt;Button text&lt;/button&gt;

&lt;a href=&quot;#&quot; class=&quot;button&quot;&gt;Button text&lt;/a&gt;&lt;a href=&quot;#&quot; class=&quot;button&quot;&gt;Button text&lt;/a&gt;&lt;a href=&quot;#&quot; class=&quot;button&quot;id=&quot;disabled&quot;&gt;Button text&lt;/a&gt;
			</pre>
		</div>
	</div>
</section>