<header class="axle_main_header">| Axle | '960 grid' | 12 col</header>

<article class="axle_body">
	<div class="axle_instructions">
		<header class="axle_header">
			<p>1. 12 col, 960 Site grid, em unit of measurement (responsive)</p>
			<p>The grid system is based on the <code>rem</code> unit of measurement. <a href="http://snook.ca/archives/html_and_css/font-size-with-rem" target="_blank">Read more</a></p>
		</header>
		<div class="grid_960">
			<ul>
				<li class="grid-1">.grid(12,1)</li>
				<li class="grid-11">.grid(12,11)</li>
			</ul>
			<ul>
				<li class="grid-2">.grid(12,2)</li>
				<li class="grid-10">.grid(12,10)</li>
			</ul>
			<ul>
				<li class="grid-3">.grid(12,3)</li>
				<li class="grid-9">.grid(12,9)</li>
			</ul>
			<ul>
				<li class="grid-4">.grid(12,4)</li>
				<li class="grid-8">.grid(12,8)</li>
			</ul>
			<ul>
				<li class="grid-5">.grid(12,5)</li>
				<li class="grid-7">.grid(12,7)</li>
			</ul>
			<ul>
				<li class="grid-6">.grid(12,6)</li>
				<li class="grid-6">.grid(12,6)</li>
			</ul>
			<ul>
				<li class="grid-7">.grid(12,7)</li>
				<li class="grid-5">.grid(12,5)</li>
			</ul>
			<ul>
				<li class="grid-8">.grid(12,8)</li>
				<li class="grid-4">.grid(12,4)</li>
			</ul>
			<ul>
				<li class="grid-9">.grid(12,9)</li>
				<li class="grid-3">.grid(12,3)</li>
			</ul>
			<ul>
				<li class="grid-10">.grid(12,10)</li>
				<li class="grid-2">.grid(12,2)</li>
			</ul>
			<ul>
				<li class="grid-11">.grid(12,11)</li>
				<li class="grid-1">.grid(12,1)</li>
			</ul>
			<ul>
				<li class="grid-4">.grid(12,4)</li>
				<li class="grid-4">.grid(12,4)</li>
				<li class="grid-4">.grid(12,4)</li>
			</ul>
		</div>
		
		<article>
			<p><b>Instructions:</b></p>
			<p>Axle's grid supports all the standard features of a 960 grid system. Grid, push, pull, suffix, prefix, alpha and omega. 12 and 16 column grids are fully supported. By default the grid will output values as ems.</p>
			<p>When building a SASS mixin, it is preferred to call in the Grid mixin to create widget's width. Call in the Grid mixn using <code>@grid()</code> and pass in the type of grid and number of columns as the 1st and 2nd arguments. See example below:</p>
			<pre class="prettyprint">
@your_new_mixin {
  @include grid(12,3);
}
			</pre>
			<p>For a 16 column grid, use the following</p>
			<pre class="prettyprint">
@your_new_mixin {
  @include grid(16,3);
}
			</pre>	
			<p>These mixins when used as class in your CSS will produce the following CSS</p>
			<pre class="prettyprint">
.new_class {
  float: left;
  margin: 0 0.833em;
  width: 13.333em; }
			</pre>	
			<p>Keep with DRY principals, we will want to take advantage of SASS's @extend feature. By creating a OOCSS class like <code>.grid_12_3</code> we an reuse this in future SASS classes like the following:</p>
			<pre class="prettyprint">
.grid_12_3 {
  @include grid(12,3);
}

.mynewclass {
  @extend .grid_12_3;
}
			</pre>	
			<p>Using the technique above, Axle has a series of supporting OOCSS class that can be extended when building new class. The above code will produce the CSS below:</p>
			<p>Note: the anticipated <code>@silent</code> feature will suppress OOCSS classes <a href="http://goo.gl/trVgr" target="_blank">read more here</a>.</p>
			<pre class="prettyprint">
.grid_12_3, .mynewclass {
  float: left;
  margin: 0 0.833em;
  width: 18.333em; }
			</pre>
		</article>
		
		<article>
			<header class="axle_header">
				<p>2. 12 col, 960 Site grid, % unit of measurement (adaptive)</p>
			</header>	
			<div class="grid_960">
				<ul>
					<li class="grid_1">.grid(12,1,percent)</li>
					<li class="grid_11">.grid(12,11,percent)</li>
				</ul>
				<ul>
					<li class="grid_2">.grid(12,2,percent)</li>
					<li class="grid_10">.grid(12,10,percent)</li>
				</ul>
				<ul>
					<li class="grid_3">.grid(12,3,percent)</li>
					<li class="grid_9">.grid(12,9,percent)</li>
				</ul>
				<ul>
					<li class="grid_4">.grid(12,4,percent)</li>
					<li class="grid_8">.grid(12,8,percent)</li>
				</ul>
				<ul>
					<li class="grid_5">.grid(12,5,percent)</li>
					<li class="grid_7">.grid(12,7,percent)</li>
				</ul>
				<ul>
					<li class="grid_6">.grid(12,6,percent)</li>
					<li class="grid_6">.grid(12,6,percent)</li>
				</ul>
				<ul>
					<li class="grid_7">.grid(12,7,percent)</li>
					<li class="grid_5">.grid(12,5,percent)</li>
				</ul>
				<ul>
					<li class="grid_8">.grid(12,8,percent)</li>
					<li class="grid_4">.grid(12,4,percent)</li>
				</ul>
				<ul>
					<li class="grid_9">.grid(12,9,percent)</li>
					<li class="grid_3">.grid(12,3,percent)</li>
				</ul>
				<ul>
					<li class="grid_10">.grid(12,10,percent)</li>
					<li class="grid_2">.grid(12,2,percent)</li>
				</ul>
				<ul>
					<li class="grid_11">.grid(12,11,percent)</li>
					<li class="grid_1">.grid(12,1,percent)</li>
				</ul>
				<ul>
					<li class="grid_4">.grid(12,4,percent)</li>
					<li class="grid_4">.grid(12,4,percent)</li>
					<li class="grid_4">.grid(12,4,percent)</li>
				</ul>
			</div>
			
			<div>
				<p><b>Instructions:</b></p>
				<p>This grid works exactly the same as the previous, other then we are passing in a third argument of <code>precent</code> into the mixin.</p>
				<pre class="prettyprint">
.grid_12_3_adp {
  @include grid(12,3, percent);
}
	
.mynewclass {
  @extend .grid_12_3_adp;
}
				</pre>
				<p>Processed CSS:</p>
				<pre class="prettyprint">
.grid_12_3_adp, .mynewclass {
  float: left;
  margin: 0 1.042%;
  width: 22.917%; }
				</pre>
			</div>
		</article>
		
		<article>
			<header class="axle_header">
				<p>3. 12 col, 960 Site grid, suffix, prefix, push, pull</p>
			</header>
			<div class="grid_960">
				<ul>
					<li class="grid_4 prefix_12_3">grid_4 prefix_12_3</li>
				</ul>
				<ul>
					<li class="grid_4 suffix_12_3">grid_4 suffix_12_3</li>
				</ul>
				<ul>
					<li class="grid_4 push_12_3">grid_4 push_12_3</li>
				</ul>
				<ul>
					<li style="float: right" class="grid_4 pull_12_3">grid_4 pull_12_3</li>
				</ul>
			</div>
			<p><b>Instructions:</b></p>
			<p>Suffix, prefix, push and pull are advanced features of a grid system in order to move blocks around within the grid. </p>
			<p>Example HTML (don't EVER use inline styles, this is for presentation only!!)</p>
			
			<pre class="prettyprint">
&lt;ul&gt;
  &lt;li class=&quot;grid_4 prefix_12_3&quot;&gt;grid_4 prefix_12_3&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&gt;
  &lt;li class=&quot;grid_4 suffix_12_3&quot;&gt;grid_4 suffix_12_3&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&gt;
  &lt;li class=&quot;grid_4 push_12_3&quot;&gt;grid_4 push_12_3&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&gt;
  &lt;li style=&quot;float: right&quot; class=&quot;grid_4 pull_12_3&quot;&gt;grid_4 pull_12_3&lt;/li&gt;
&lt;/ul&gt;
			</pre>
		</article>		
	</div>
</article>
