<header class="axle_main_header">| Axle | 'Site Header'</header>
<section class="axle_body">
  <div class="axle_instructions">
    <header class="axle_header">
      <p>1. Site header</p>
      <p>WORDS</p>
    </header>
    <div class="grid_12_col_background">
      <header>
        <div class="site_header">
          <nav>
            <ol>
              <li><a href="#">speakers</a></li>
              <li><a href="#">schedule</a></li>
              <li><a href="#">sponsors</a></li>
              <li><a href="#">travel</a></li>
              <li><a href="#">register</a></li>
              <li><a href="#">about</a></li>
              <li><a href="#">contact</a></li>
            </ol>
          </nav>
          <div class="logo">UX Madison</div>
          <div class="event_date">July 20-21, 2012<br>Madison, WI, USA</div>
        </div>
        <div class="designer_hr"></div>
        <hgroup class="site_hgroup">
          <h1>What is user experience design?</h1>
          <p><a href="#">Buy your ticket</a> or <a href="#">hear what others think</a>.</p>
          <p>See you at the conference.</p>
        </hgroup>
      </header>
    </div>
    <div>
      <p><b>CODE_EXAMPLE:</b></p>
      <pre class="prettyprint">
CODE
      </pre>
    </div>
  </div>
</section>
