<header class="axle_main_header">| Axle | 'NAME'</header>
<section class="axle_body">
	<div class="axle_instructions">
		<header class="axle_header">
			<p>1. HEADING</p>
			<p>WORDS</p>
		</header>
		<div class="grid_12_col_background">
			<p>&nbsp;</p>
			<div class="srp_header">
				<ul>
					<li class="patient_id">Patient ID</li>
					<li class="last_name">Last Name</li>
					<li class="first_name">First Name</li>
					<li class="mi">MI</li>
					<li class="ssn">Social Security #</li>
					<li class="sex">Sex</li>
					<li class="dob">DOB</li>
					<li class="source">Source</li>
					<li class="notes">Notes</li>
				</ul>
			</div>
			<div class="srp_search">
				<ul>
					<li class="patient_id"><input type="text"></li>
					<li class="last_name"><input type="text"></li>
					<li class="first_name"><input type="text"></li>
					<li class="mi"><input type="text" disabled="disabled"></li>
					<li class="ssn"><input type="text"></li>
					<li class="sex"><input type="text"></li>
					<li class="dob"><input type="text"></li>
					<li class="source">
						<select>
							<option value="">text</option>
							<option value="">text</option>
							<option value="">text</option>
							<option value="">text</option>
						</select>
					</li>
					<li class="notes">&nbsp;</li>
				</ul>
			</div>
			<p>&nbsp;</p>
		</div>
		<div>
			<p><b>CODE_EXAMPLE:</b></p>
			<pre class="prettyprint">
CODE
			</pre>
		</div>
	</div>
</section>