//
// Standardized text objects.  NOT to be used as classes appended to a block in the HTML.
// Preferred uses include @extend .class; or repurpose the mixin within the class.
//


/* Text classes */
/* ------------ */
.headings_1 {
	@include heading($font-size: $heading_1, $family: alpha);
}

.headings_2 {
	@include heading($font-size: $heading_2, $family: bravo, $font_weight: bolder);
}

.headings_3 {
	@include heading($font-size: $heading_3, $family: alpha, $font_weight: normal, $color: $delta_grey);
}

.small {
	@include small;
}

.medium {
	@include medium;
}

.large {
	@include large;
}




/* Font family classes */
/* ------------------- */
.primary_font_family {
	font-family: $primary_font_family;
}

.secondary_font_family {
	font-family: $secondary_font_family;
}

.heading_font_family {
	font-family: $heading_font_family;
}





/* text-transform objects */
/* ---------------------- */
.uppercase {
	@include uppercase;
}
.lowercase {
	@include lowercase;
}
.capitalize {
	@include capitalize;
}




/* standard content block styling */
/* ------------------------------ */
.bulleted_list {
	@include bulleted_list;
}

