<head>
<script type="text/javascript">
var mykeys = /[A-Za-z\,\.1234567890 ]/g;

function callme(field){
   $.ajax({url: '/patients/setview/?token=' + field.value ,dataType: 'script'});
} 

function restrictCharacters(myfield, e, restrictionType) {
   if (!e){
      var e = window.event;
   } 
   if (e.keyCode){
      code = e.keyCode;    // IE   
   }else if (e.which){
      code = e.which;      // Other browsers
   }
   var character = String.fromCharCode(code);

   // if they pressed esc... remove focus from field...

   if (code==27){ 
      this.blur();
      return false;   
   }
	
   // ignore if they are press other keys
   // strange because code: 39 is the down key AND ' key...
   // and DEL also equals .

   if (!e.ctrlKey && code!=9 && code!=36 && code!=46 && code!=37 && code!=38 && (code!=39 || (code==39 && character=="'")) && code!=40) {
      if (character.match(restrictionType) || code==8){
         return true;
      }else{
         return false;
      }
   }
   return false;
}
</script>
</head>

<h1>Search..   </h1>

<div id="getpat">

   <input type="text" id="input1" placeholder="Enter Text.." onkeypress="return restrictCharacters(this, event, mykeys);" onkeyup="callme(this);" /> 

<p>
	Patient ID:
	<%= radio_button_tag 'input_type', 'patid' %>
        &nbsp;&nbsp;&nbsp;&nbsp;Patient SSN: 
	<%= radio_button_tag 'input_type', 'ssn' %>
        &nbsp;&nbsp;&nbsp;&nbsp;Patient Name: 
	<%= radio_button_tag 'input_type', 'sortname', :checked => true %>
</p>
</div>


