//////// gradient arguments /////////
// ----------------------------------




// I know this is pretty crazy, I am looking for ways to refactor this concept
// ---------------------------------------------------------------------------
// legacy ... Only used in Axle screens.  Need to update //
@import "four_stop_linear_gradient";

// This is where new magic may come from
@import "area_51.scss";
@import "_linear_gradient_bkgimage";

