//
// Standardized abstract color objects.  NOT to be used as classes appended to a block in the HTML.
// Preferred uses include @extend .class; or repurpose the mixin within the class.
//


/////// OOCSS color blocks ////////
// ----------------------------------------------

/* Greyscale color objects */
/* ----------------------- */
.white {
	background-color: $white;
}

.alpha_grey {
	background-color: $alpha_grey;
}

.bravo_grey {
	background-color: $bravo_grey;
}
	
.charlie_grey {
	background-color: $charlie_grey;
}

.delta_grey {
	background-color: $delta_grey;
}
	
.echo_grey {
	background-color: $echo_grey;
}
	
.fox_grey {
	background-color: $fox_grey;
}
	
.golf_grey {
	background-color: $golf_grey;
}	

.hotel_grey {
	background-color: $hotel_grey;
}

.india_grey {
	background-color: $india_grey;
}

.juliet_grey {
	background-color: $juliet_grey;
}




/* Standard color objects */
/* ---------------------- */

.alpha_color {
	background-color: $alpha_color;
}
.alpha_color_bravo {
	background-color: $alpha_color_bravo;
}
.alpha_color_charlie {
	background-color: $alpha_color_charlie;
}
.alpha_color_delta {
	background-color: $alpha_color_delta;
}
.alpha_color_echo {
	background-color: $alpha_color_echo;
}
.alpha_color_fox {
	background-color: $alpha_color_fox;
}
.alpha_color_golf {
	background-color: $alpha_color_golf;
}
.alpha_color_hotel {
	background-color: $alpha_color_hotel;
}
.alpha_color_india {
	background-color: $alpha_color_india;
}
.alpha_color_juliet {
	background-color: $alpha_color_juliet;
}

.bravo_color {
	background-color: $bravo_color;
}
.bravo_color_bravo {
	background-color: $bravo_color_bravo;
}
.bravo_color_charlie {
	background-color: $bravo_color_charlie;
}
.bravo_color_delta {
	background-color: $bravo_color_delta;
}
.bravo_color_echo {
	background-color: $bravo_color_echo;
}
.bravo_color_fox {
	background-color: $bravo_color_fox;
}
.bravo_color_golf {
	background-color: $bravo_color_golf;
}
.bravo_color_hotel {
	background-color: $bravo_color_hotel;
}
.bravo_color_india {
	background-color: $bravo_color_india;
}
.bravo_color_juliet {
	background-color: $bravo_color_juliet;
}
	
.charlie_color {
	background-color: $charlie_color;
}
.charlie_color_bravo {
	background-color: $charlie_color_bravo;
}
.charlie_color_charlie {
	background-color: $charlie_color_charlie;
}
.charlie_color_delta {
	background-color: $charlie_color_delta;
}
.charlie_color_echo {
	background-color: $charlie_color_echo;
}
.charlie_color_fox {
	background-color: $charlie_color_fox;
}
.charlie_color_golf {
	background-color: $charlie_color_golf;
}
.charlie_color_hotel {
	background-color: $charlie_color_hotel;
}
.charlie_color_india {
	background-color: $charlie_color_india;
}
.charlie_color_juliet {
	background-color: $charlie_color_juliet;
}

	
.delta_color {
	background-color: $delta_color;
}
.delta_color_bravo {
	background-color: $delta_color_bravo;
}
.delta_color_charlie {
	background-color: $delta_color_charlie;
}
.delta_color_delta {
	background-color: $delta_color_delta;
}
.delta_color_echo {
	background-color: $delta_color_echo;
}
.delta_color_fox {
	background-color: $delta_color_fox;
}
.delta_color_golf {
	background-color: $delta_color_golf;
}
.delta_color_hotel {
	background-color: $delta_color_hotel;
}
.delta_color_india {
	background-color: $delta_color_india;
}
.delta_color_juliet {
	background-color: $delta_color_juliet;
}
	
.echo_color {
	background-color: $echo_color;
}
.echo_color_bravo {
	background-color: $echo_color_bravo;
}
.echo_color_charlie {
	background-color: $echo_color_charlie;
}
.echo_color_delta {
	background-color: $echo_color_delta;
}
.echo_color_echo {
	background-color: $echo_color_echo;
}
 	
// .fox_color {
// 	background-color: $fox_color;
// }
// 	
// .golf_color {
// 	background-color: $golf_color;
// }
// 	
// .hotel_color {
// 	background-color: $hotel_color;
// }
// 
// .india_color {
// 	background-color: $india_color;
// }
// 
// .juliet_color {
// 	background-color: $juliet_color;
// }
// 
// .kilo_color {
// 	background-color: $kilo_color;
// }
// 
// .lima_color {
// 	background-color: $lima_color;
// }
// 
// .mike_color {
// 	background-color: $mike_color;
// }
// 
// .november_color {
// 	background-color: $november_color;
// }
// 
// .october_color {
// 	background-color: $october_color;
// }
// 
// .papa_color {
// 	background-color: $papa_color;
// }
// 
// .quebec_color {
// 	background-color: $quebec_color;
// }
// .quebec_color_alpha {
// 	background-color: $quebec_color_alpha;
// }
// .quebec_color_bravo {
// 	background-color: $quebec_color_bravo;
// }
// .quebec_color_charlie {
// 	background-color: $quebec_color_charlie;
// }
// 
// .romeo_color {
// 	background-color: $romeo_color;
// }
// 
// .sierra_color {
// 	background-color: $sierra_color;
// }
// 
// .tango_color {
// 	background-color: $tango_color;
// }
// 
// .uniform_color {
// 	background-color: $uniform_color;
// }
// 
// .victor_color {
// 	background-color: $victor_color;
// }
// 
// .whisky_color {
// 	background-color: $whisky_color;
// }
