@import url(http://fonts.googleapis.com/css?family=Puritan:400,700|Lato:400,700,900);
@font-face {
  font-family: 'PointersRegular';
  src: url("webfonts/pointers-webfont.eot");
  src: url("webfonts/pointers-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/pointers-webfont.woff") format("woff"), url("webfonts/pointers-webfont.ttf") format("truetype"), url("webfonts/pointers-webfont.svg#PointersRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Gradient color objects */
/* ----------------------- */
.alpha_color_gradient, .primary_button_color {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6edfff), color-stop(50%, #17ccff), color-stop(100%, #00acdc));
  background: #ff6439;
  background: -webkit-linear-gradient(top, #6edfff 0%, #17ccff 50%, #00acdc 100%);
  background: -moz-linear-gradient(top, #6edfff 0%, #17ccff 50%, #00acdc 100%);
  background: -o-linear-gradient(top, #6edfff 0%, #17ccff 50%, #00acdc 100%);
  background: -ms-linear-gradient(top, #6edfff 0%, #17ccff 50%, #00acdc 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#6edfff', endColorstr='#00acdc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6edfff', endColorstr='#00acdc')"; }

.bravo_color_gradient, .primary_button_hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00acdc), color-stop(50%, #17ccff), color-stop(100%, #6edfff));
  background: #ff6439;
  background: -webkit-linear-gradient(top, #00acdc 0%, #17ccff 50%, #6edfff 100%);
  background: -moz-linear-gradient(top, #00acdc 0%, #17ccff 50%, #6edfff 100%);
  background: -o-linear-gradient(top, #00acdc 0%, #17ccff 50%, #6edfff 100%);
  background: -ms-linear-gradient(top, #00acdc 0%, #17ccff 50%, #6edfff 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#00acdc', endColorstr='#6edfff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00acdc', endColorstr='#6edfff')"; }

.charlie_color_gradient {
  background: white;
  background: -webkit-linear-gradient(top, #aca1a4 0%, #817276 100%);
  background: -moz-linear-gradient(top, #aca1a4 0%, #817276 100%);
  background: -o-linear-gradient(top, #aca1a4 0%, #817276 100%);
  background: -ms-linear-gradient(top, #aca1a4 0%, #817276 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aca1a4), color-stop(100%, #817276));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='white', endColorstr='white');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white')"; }

.delta_color_gradient {
  background: white;
  background: -webkit-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -moz-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -o-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -ms-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #817276), color-stop(100%, #aca1a4));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='white', endColorstr='white');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white')"; }

.echo_color_gradient {
  background: #67816b;
  background: -webkit-linear-gradient(top, #75927a 0%, #59705d 100%);
  background: -moz-linear-gradient(top, #75927a 0%, #59705d 100%);
  background: -o-linear-gradient(top, #75927a 0%, #59705d 100%);
  background: -ms-linear-gradient(top, #75927a 0%, #59705d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #75927a), color-stop(100%, #59705d));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#75927a', endColorstr='#59705d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#75927a', endColorstr='#59705d')"; }

.fox_color_gradient {
  background: #59705d;
  background: -webkit-linear-gradient(top, #59705d 0%, #75927a 100%);
  background: -moz-linear-gradient(top, #59705d 0%, #75927a 100%);
  background: -o-linear-gradient(top, #59705d 0%, #75927a 100%);
  background: -ms-linear-gradient(top, #59705d 0%, #75927a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59705d), color-stop(100%, #75927a));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#59705d', endColorstr='#75927a');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#59705d', endColorstr='#75927a')"; }

/* Greyscale color objects */
/* ----------------------- */
.white {
  background-color: white; }

.alpha_grey {
  background-color: #231f20; }

.bravo_grey {
  background-color: #52494b; }

.charlie_grey {
  background-color: #6a5e61; }

.delta_grey {
  background-color: #817276; }

.echo_grey {
  background-color: #97898d; }

.fox_grey {
  background-color: #aca1a4; }

.golf_grey {
  background-color: #c0b8ba; }

.hotel_grey {
  background-color: #d5d0d1; }

.india_grey {
  background-color: #eae7e8; }

.juliet_grey {
  background-color: white; }

/* Standard color objects */
/* ---------------------- */
.alpha_color {
  background-color: #e31e25; }

.alpha_color_bravo {
  background-color: #e6343b; }

.alpha_color_charlie {
  background-color: #e94b51; }

.alpha_color_delta {
  background-color: #eb6266; }

.alpha_color_echo {
  background-color: #ee787c; }

.alpha_color_fox {
  background-color: #f18e92; }

.alpha_color_golf {
  background-color: #f4a5a8; }

.alpha_color_hotel {
  background-color: #f7bcbe; }

.alpha_color_india {
  background-color: #f9d2d3; }

.alpha_color_juliet {
  background-color: #fce9e9; }

.bravo_color {
  background-color: #59705d; }

.bravo_color_bravo {
  background-color: #67816b; }

.bravo_color_charlie {
  background-color: #75927a; }

.bravo_color_delta {
  background-color: #869f8b; }

.bravo_color_echo {
  background-color: #98ad9b; }

.bravo_color_fox {
  background-color: #a9bbac; }

.bravo_color_golf {
  background-color: #bac8bd; }

.bravo_color_hotel {
  background-color: #cbd6cd; }

.bravo_color_india {
  background-color: #dde4de; }

.bravo_color_juliet {
  background-color: #eef1ee; }

.charlie_color {
  background-color: #ece911; }

.charlie_color_bravo {
  background-color: #efed27; }

.charlie_color_charlie {
  background-color: #f1ef3f; }

.charlie_color_delta {
  background-color: #f3f157; }

.charlie_color_echo {
  background-color: #f5f36f; }

.charlie_color_fox {
  background-color: #f6f587; }

.charlie_color_golf {
  background-color: #f8f79f; }

.charlie_color_hotel {
  background-color: #faf9b7; }

.charlie_color_india {
  background-color: #fcfbcf; }

.charlie_color_juliet {
  background-color: #fdfde7; }

.delta_color {
  background-color: #00acdc; }

.delta_color_bravo {
  background-color: #00c3f9; }

.delta_color_charlie {
  background-color: #17ccff; }

.delta_color_delta {
  background-color: #34d3ff; }

.delta_color_echo {
  background-color: #51d9ff; }

.delta_color_fox {
  background-color: #6edfff; }

.delta_color_golf {
  background-color: #8be6ff; }

.delta_color_hotel {
  background-color: #a8ecff; }

.delta_color_india {
  background-color: #c5f2ff; }

.delta_color_juliet {
  background-color: #e2f9ff; }

.echo_color {
  background-color: #ff5323; }

.echo_color_bravo {
  background-color: #ff6439; }

.echo_color_charlie {
  background-color: #ff754f; }

.echo_color_delta {
  background-color: #ff8765; }

.echo_color_echo {
  background-color: #ff987b; }

/* Text classes */
/* ------------ */
.headings_1 {
  font-size: 2.571em;
  color: #231f20;
  line-height: 1em;
  font-weight: bold;
  margin-bottom: 0.556em;
  font-family: "Puritan", sans-serif;
  letter-spacing: 0; }
  hgroup .headings_1 {
    margin-bottom: 0 !important; }

.headings_2 {
  font-size: 1.714em;
  color: #231f20;
  line-height: 1em;
  font-weight: bolder;
  margin-bottom: 0.833em;
  font-family: "Lato", sans-serif;
  letter-spacing: 0; }
  hgroup .headings_2 {
    margin-bottom: 0 !important; }

.headings_3 {
  font-size: 1.571em;
  color: #817276;
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 0.909em;
  font-family: "Puritan", sans-serif;
  letter-spacing: 0; }
  hgroup .headings_3 {
    margin-bottom: 0 !important; }

.headings_4 {
  font-size: 1.286em;
  color: #52494b;
  line-height: 1em;
  font-weight: bold;
  margin-bottom: 1.111em;
  font-family: "Puritan", sans-serif;
  letter-spacing: 0; }
  hgroup .headings_4 {
    margin-bottom: 0 !important; }

.block_header_1 {
  font-size: 1.714rem;
  line-height: 4.857rem;
  text-align: center;
  background: #231f20;
  color: white;
  font-weight: 900; }

.block_header_2 {
  font-size: 1.714rem;
  line-height: 4.857rem;
  text-align: center;
  background: #e31e25;
  color: white;
  font-weight: 900; }

.block_header_3 {
  font-size: 1.714rem;
  line-height: 4.857rem;
  text-align: center;
  background: #00acdc;
  color: white;
  font-weight: 900; }

.small {
  font-size: 0.857em;
  line-height: 1.5em; }

.medium {
  font-size: 1em;
  line-height: 1.5em; }

.large {
  font-size: 1.143em;
  line-height: 1.5em; }

/* Font family classes */
/* ------------------- */
.primary_font_family {
  font-family: "helvetica", sans-serif; }

.secondary_font_family {
  font-family: Verdana, Arial, Helvetica, sans-serif; }

.heading_font_family {
  font-family: Arial, Helvetica, serif; }

/* text-transform objects */
/* ---------------------- */
.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

/* icon fonts alpha */
.iconfont_alpha {
  font-family: PointersRegular;
  font-size: 1.571rem;
  letter-spacing: 10px; }

/* standard content block styling */
/* ------------------------------ */
.bulleted_list ul {
  list-style: disc;
  margin: 0 0 1.5em 1.429em; }
  .bulleted_list ul:last-child {
    margin-bottom: 0; }
.bulleted_list li {
  float: none;
  margin-bottom: 1em; }
  .bulleted_list li:last-child {
    margin-bottom: 0; }

/* Generic global UI objects */
/* ------------------------- */
.clearfix {
  zoom: 1; }
  .clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.standard_block_spacing {
  zoom: 1;
  margin-bottom: 1.429em; }
  .standard_block_spacing:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .standard_block_spacing:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.standard_hr {
  border-bottom: 1px solid #817276;
  padding-bottom: 2.857em;
  margin-bottom: 2.857em !important; }

/* text shadows */
/* ------------ */
.primary_text_shadow {
  -moz-text-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.214em;
  -webkit-text-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.214em;
  -o-text-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.214em;
  -ms-text-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.214em;
  text-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.214em; }

.disabled_text_shadow {
  -moz-text-shadow: rgba(35, 31, 32, 0) 0 0.143em 0.214em;
  -webkit-text-shadow: rgba(35, 31, 32, 0) 0 0.143em 0.214em;
  -o-text-shadow: rgba(35, 31, 32, 0) 0 0.143em 0.214em;
  -ms-text-shadow: rgba(35, 31, 32, 0) 0 0.143em 0.214em;
  text-shadow: rgba(35, 31, 32, 0) 0 0.143em 0.214em; }

/* box shadows */
/* ----------- */
.primary_box_shadow {
  -moz-box-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.286em;
  -webkit-box-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.286em;
  -o-box-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.286em;
  -ms-box-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.286em;
  box-shadow: rgba(35, 31, 32, 0.5) 0 0.143em 0.286em; }

.disabled_box_shadow {
  -moz-box-shadow: rgba(35, 31, 32, 0.1) 0 0.143em 0.286em;
  -webkit-box-shadow: rgba(35, 31, 32, 0.1) 0 0.143em 0.286em;
  -o-box-shadow: rgba(35, 31, 32, 0.1) 0 0.143em 0.286em;
  -ms-box-shadow: rgba(35, 31, 32, 0.1) 0 0.143em 0.286em;
  box-shadow: rgba(35, 31, 32, 0.1) 0 0.143em 0.286em; }

/* primary buttons */
/* --------------- */
.primary_button_border {
  border: 1px solid #817276; }

.primary_button_border_color {
  background-color: #817276; }

/* seconadry buttons */
/* ----------------- */
.secondary_button_color {
  background: white;
  background: -webkit-linear-gradient(top, #aca1a4 0%, #817276 100%);
  background: -moz-linear-gradient(top, #aca1a4 0%, #817276 100%);
  background: -o-linear-gradient(top, #aca1a4 0%, #817276 100%);
  background: -ms-linear-gradient(top, #aca1a4 0%, #817276 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aca1a4), color-stop(100%, #817276));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='white', endColorstr='white');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white')"; }

.secondary_button_hover {
  background: white;
  background: -webkit-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -moz-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -o-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -ms-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #817276), color-stop(100%, #aca1a4));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='white', endColorstr='white');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white')"; }

.secondary_button_active {
  background: white;
  background: -webkit-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -moz-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -o-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -ms-linear-gradient(top, #817276 0%, #aca1a4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #817276), color-stop(100%, #aca1a4));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='white', endColorstr='white');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white')"; }

.secondary_button_border_color {
  background-color: #817276; }

/* big pull buttons with play icon option */
/* -------------------------------------- */
.button_border_radius {
  -moz-border-radius: 0.214em;
  -webkit-border-radius: 0.214em;
  -o-border-radius: 0.214em;
  -ms-border-radius: 0.214em;
  border-radius: 0.214em; }
  .ie8 .button_border_radius {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }

.standard_rounded_borders {
  -moz-border-radius: 0.214em;
  -webkit-border-radius: 0.214em;
  -o-border-radius: 0.214em;
  -ms-border-radius: 0.214em;
  border-radius: 0.214em;
  border: 1px solid #6a5e61; }
  .ie8 .standard_rounded_borders {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }

/* oocss grid objects */
/* ------------------ */
.grid_12_2 {
  float: left;
  margin: 0 0.714rem;
  width: 10rem; }

.grid_12_3 {
  float: left;
  margin: 0 0.714rem;
  width: 15.714rem; }

.grid_12_4 {
  float: left;
  margin: 0 0.714rem;
  width: 21.429rem; }

.grid_12_5 {
  float: left;
  margin: 0 0.714rem;
  width: 27.143rem; }

.grid_12_6 {
  float: left;
  margin: 0 0.714rem;
  width: 32.857rem; }

.grid_12_7 {
  float: left;
  margin: 0 0.714rem;
  width: 38.571rem; }

.grid_12_9 {
  float: left;
  margin: 0 0.714rem;
  width: 50rem; }

.grid_12_12 {
  float: left;
  margin: 0 0.714rem;
  width: 67.143rem; }

.grid_16_6 {
  float: left;
  margin: 0 0.714rem;
  width: 24.286rem; }

.grid_16_12 {
  float: left;
  margin: 0 0.714rem;
  width: 50rem; }

.push_12_1 {
  position: relative;
  left: 5.714rem; }

.push_12_2 {
  position: relative;
  left: 11.429rem; }

.push_12_3 {
  position: relative;
  left: 17.143rem; }

.suffix_12_3 {
  padding-right: 17.143rem; }

.prefix_12_3 {
  padding-left: 17.143rem; }

.push_12_3 {
  position: relative;
  left: 17.143rem; }

.push_12_5 {
  position: relative;
  left: 28.571rem; }

.pull_12_3 {
  position: relative;
  right: 17.143rem; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

body {
  margin: 0; }

.styleguide .doc_article_class ul {
  list-style: disc;
  margin: 0 0 1.5em 1.429em; }
  .styleguide .doc_article_class ul:last-child {
    margin-bottom: 0; }
.styleguide .doc_article_class li {
  float: none;
  margin-bottom: 1em; }
  .styleguide .doc_article_class li:last-child {
    margin-bottom: 0; }

.axle_buttons > div {
  margin-bottom: 10px;
  float: left;
  width: 100%; }

.styleguide {
  background: white; }
  .styleguide body {
    background: white; }
  .styleguide .axle_instructions {
    display: block; }
  .styleguide code {
    padding: 3px 6px;
    border: 1px solid #231f20;
    white-space: nowrap;
    color: #231f20; }
  .styleguide pre {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    font-size: 1.143em;
    line-height: 1.5em;
    margin-bottom: 20px;
    padding: 20px 20px 0 20px; }
  .styleguide .button_styleguide div {
    padding-bottom: 10px; }
  .styleguide .form_styleguide pre {
    overflow: auto;
    margin-left: 0px; }
  .styleguide .form_styleguide .master_container {
    float: left;
    width: 100%; }
  .styleguide .axle_main_header {
    color: #fff;
    padding: 10px 20px;
    background: #b8e1fc;
    background: -webkit-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
    background: -moz-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
    background: -o-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
    background: -ms-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8e1fc), color-stop(10%, #a9d2f3), color-stop(25%, #90bae4), color-stop(37%, #90bcea), color-stop(50%, #90bff0), color-stop(51%, #6ba8e5), color-stop(83%, #a2daf5), color-stop(100%, #bdf3fd));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#b8e1fc', endColorstr='#bdf3fd');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e1fc', endColorstr='#bdf3fd')";
    border-bottom: 1px solid #231f20;
    -moz-box-shadow: rgba(35, 31, 32, 0.5) 0px 0px 40px;
    -webkit-box-shadow: rgba(35, 31, 32, 0.5) 0px 0px 40px;
    -o-box-shadow: rgba(35, 31, 32, 0.5) 0px 0px 40px;
    -ms-box-shadow: rgba(35, 31, 32, 0.5) 0px 0px 40px;
    box-shadow: rgba(35, 31, 32, 0.5) 0px 0px 40px;
    font-family: 'Pacifico', arial, serif;
    font-size: 3em;
    line-height: 1.5em; }
  .styleguide .axle_body {
    float: none;
    width: 68.571rem;
    margin: 0 auto;
    zoom: 1; }
    .styleguide .axle_body:before {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .styleguide .axle_body:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }
    .styleguide .axle_body .axle_header {
      color: #999;
      border: 1px solid #999;
      border-width: 0 0 1px 0;
      margin: 30px 0 10px 0;
      zoom: 1;
      float: left;
      width: 100%;
      padding-bottom: 1em; }
      .styleguide .axle_body .axle_header:before {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .styleguide .axle_body .axle_header:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both; }
    .styleguide .axle_body .axle_instructions {
      margin-top: 0;
      border-width: 0;
      padding-top: 10px; }
    .styleguide .axle_body .headings_ellipsis h1, .styleguide .axle_body .headings_ellipsis h2, .styleguide .axle_body .headings_ellipsis h3, .styleguide .axle_body .headings_ellipsis h4, .styleguide .axle_body .headings_ellipsis h5 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      float: left;
      width: 980px; }
    .styleguide .axle_body .body_text span {
      color: red;
      display: block; }
    .styleguide .axle_body .link_text {
      float: left;
      width: 100%;
      -moz-column-count: 3;
      -moz-column-gap: 1em;
      -webkit-column-count: 3;
      -webkit-column-gap: 1em;
      -o-column-count: 3;
      -o-column-gap: 1em;
      -ms-column-count: 3;
      -ms-column-gap: 1em;
      column-count: 3;
      column-gap: 1em; }
  .styleguide .styleguide_footer {
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0 30px 0;
    height: 100px; }
  .styleguide .colorcode, .styleguide .gradient {
    float: left;
    width: 100%; }
    .styleguide .colorcode div, .styleguide .gradient div {
      width: 70%;
      margin-bottom: 2em;
      min-height: 60px; }
      .styleguide .colorcode div p, .styleguide .gradient div p {
        position: relative;
        left: 105%;
        width: 35%;
        font-weight: normal; }
    .styleguide .colorcode .tabbed_ui p, .styleguide .gradient .tabbed_ui p {
      top: 0px;
      padding: 0px; }
  .styleguide .styleguide_form_frame {
    border: 1px dashed #817276;
    padding: 16px 16px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 10px; }
  .styleguide .flex_blocks .india_grey {
    border: 1px dashed rgba(35, 31, 32, 0.3); }
    .styleguide .flex_blocks .india_grey p {
      top: 70px; }
  .styleguide .gradient .alpha_color_gradient p, .styleguide .gradient .primary_button_color p {
    color: #231f20; }
  .styleguide .login_body {
    margin: 0 0 30px 0;
    padding: 0; }
  .styleguide .styleguide_nav {
    position: fixed;
    z-index: 1000;
    border: 1px solid #ccc;
    left: -157px;
    top: 100px;
    width: 120px;
    padding: 10px 20px 10px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: #cccccc 0px 0px 20px;
    -webkit-box-shadow: #cccccc 0px 0px 20px;
    -o-box-shadow: #cccccc 0px 0px 20px;
    -ms-box-shadow: #cccccc 0px 0px 20px;
    box-shadow: #cccccc 0px 0px 20px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    background-color: #fff; }
    .styleguide .styleguide_nav a {
      text-decoration: none; }
    @media screen and (min-width: 1400px) {
      .styleguide .styleguide_nav {
        left: 30px; } }
    .styleguide .styleguide_nav .widget_links {
      height: 100px;
      width: 135px;
      overflow: auto;
      -webkit-overflow-scrolling: touch; }
    .styleguide .styleguide_nav .nav_title {
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      position: absolute;
      top: 0px;
      left: 35px;
      padding: 60px 100px 100px 100px;
      letter-spacing: 4px; }
      @media screen and (min-width: 1400px) {
        .styleguide .styleguide_nav .nav_title {
          display: none; } }
      @media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
        .styleguide .styleguide_nav .nav_title {
          background: orange;
          top: 105px;
          left: 75px;
          height: 30px;
          padding: 8px 40px 5px 40px;
          -moz-border-radius: 0 0 5px 5px;
          -webkit-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }
          .styleguide .styleguide_nav .nav_title:hover {
            background: orange; } }
    .styleguide .styleguide_nav ul {
      margin-top: 5px; }
      .styleguide .styleguide_nav ul li {
        padding: 3px;
        margin-left: 10px; }
      .styleguide .styleguide_nav ul a {
        display: block; }
    .styleguide .styleguide_nav p {
      margin: 0.5em 0 0 0;
      text-align: center;
      width: 100%;
      background: #feccb1;
      background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
      background: -webkit-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
      background: -o-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
      background: -ms-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
      background: linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feccb1), color-stop(50%, #f17432), color-stop(51%, #ea5507), color-stop(100%, #fb955e));
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#feccb1', endColorstr='#fb955e');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#feccb1', endColorstr='#fb955e')";
      padding: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      color: #fff;
      font-weight: bold;
      width: 100%; }
      .styleguide .styleguide_nav p a {
        color: #fff;
        background: #9dd53a;
        background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 50%, #7cbc0a 100%);
        background: -webkit-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 50%, #7cbc0a 100%);
        background: -o-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 50%, #7cbc0a 100%);
        background: -ms-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 50%, #7cbc0a 100%);
        background: linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 50%, #7cbc0a 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd53a), color-stop(50%, #a1d54f), color-stop(51%, #80c217), color-stop(100%, #7cbc0a));
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#9dd53a', endColorstr='#7cbc0a');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#7cbc0a')";
        display: inline-block;
        width: 100%;
        margin: -5px;
        padding: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
        .styleguide .styleguide_nav p a:hover {
          text-decoration: none;
          background: #feccb1;
          background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
          background: -webkit-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
          background: -o-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
          background: -ms-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
          background: linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 50%, #fb955e 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feccb1), color-stop(50%, #f17432), color-stop(51%, #ea5507), color-stop(100%, #fb955e));
          filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#feccb1', endColorstr='#fb955e');
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#feccb1', endColorstr='#fb955e')"; }
      .styleguide .styleguide_nav p:hover {
        text-decoration: none; }
      .styleguide .styleguide_nav p:first-child {
        margin-top: 0; }
    .styleguide .styleguide_nav:hover {
      left: 30px;
      color: rgba(0, 0, 0, 0); }
  .styleguide #standard_modal_alt {
    width: 600px !important; }
  .styleguide .primary_text {
    background-color: #52494b; }
  .styleguide .href_color {
    background-color: #00acdc; }
  .styleguide .instructional_text {
    background-color: #6a5e61; }
  .styleguide .error_text {
    background-color: #e31e25; }
  .styleguide .button_text {
    background-color: white; }
  .styleguide .shadow_color {
    background-color: rgba(35, 31, 32, 0.5); }
  .styleguide .form_field_border {
    background-color: #eae7e8; }
  .styleguide .form_field_focus_border_color {
    background-color: #17ccff; }
  .styleguide .form_field_focus_color {
    background-color: #f2f1f1; }
  .styleguide .form_field_text {
    background-color: #52494b; }
  .styleguide .form_field_text_fail {
    background-color: #e31e25; }
  .styleguide .form_field_border_fail {
    background-color: #e31e25; }
  .styleguide .form_field_fail_bkg {
    background-color: white; }
  .styleguide .input_disabled_bkg {
    background-color: white; }
  .styleguide .form_field_background_color {
    background-color: #eae7e8; }
  .styleguide .input_disabled_border {
    background-color: #d0cacb; }
  .styleguide .input_disabled_text {
    background-color: #d0cacb; }
  .styleguide .ins_color {
    background-color: #ece911; }
  .styleguide .mark_color {
    background-color: #ece911; }
  .styleguide .selection_color {
    background-color: #ece911; }
  .styleguide .selection_text_color {
    background-color: #52494b; }
  .styleguide .grid_960, .styleguide .grid_768, .styleguide .grid_320, .styleguide .grid_760 {
    background: url(/images/axle/12_col.gif) repeat-y;
    width: 68.571em;
    zoom: 1;
    text-align: center;
    margin: 10px 0;
    float: left;
    font-weight: bold; }
    .styleguide .grid_960:before, .styleguide .grid_768:before, .styleguide .grid_320:before, .styleguide .grid_760:before {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .styleguide .grid_960:after, .styleguide .grid_768:after, .styleguide .grid_320:after, .styleguide .grid_760:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }
    .styleguide .grid_960 ul, .styleguide .grid_768 ul, .styleguide .grid_320 ul, .styleguide .grid_760 ul {
      zoom: 1;
      margin: 1em 0; }
      .styleguide .grid_960 ul:before, .styleguide .grid_768 ul:before, .styleguide .grid_320 ul:before, .styleguide .grid_760 ul:before {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .styleguide .grid_960 ul:after, .styleguide .grid_768 ul:after, .styleguide .grid_320 ul:after, .styleguide .grid_760 ul:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both; }
      .styleguide .grid_960 ul li, .styleguide .grid_768 ul li, .styleguide .grid_320 ul li, .styleguide .grid_760 ul li {
        background: fadeout(#eae7e8, 50%);
        -moz-box-shadow: inset 0 0 10px #231f20;
        -webkit-box-shadow: inset 0 0 10px #231f20;
        -o-box-shadow: inset 0 0 10px #231f20;
        -ms-box-shadow: inset 0 0 10px #231f20;
        box-shadow: inset 0 0 10px #231f20;
        padding-top: 5px;
        padding-bottom: 5px; }
    .styleguide .grid_960.col_16, .styleguide .col_16.grid_768, .styleguide .col_16.grid_320, .styleguide .col_16.grid_760 {
      background: url(/axle/images/16_col.gif) repeat-y; }
  .styleguide .grid_768 {
    background: url(/axle/images/768_col.png) repeat-y;
    width: 54.857em; }
  .styleguide .grid_320 {
    width: 22.857em;
    margin-right: 45.714em; }
  .styleguide .grid_760 {
    width: 54em;
    margin-right: 14.286em; }
    .styleguide .grid_760.col_12_ipad {
      background: url(/axle/images/10_col.png) repeat-y; }
  .styleguide .grid-1 {
    float: left;
    margin: 0 0.714rem;
    width: 4.286rem; }
  .styleguide .grid-2 {
    float: left;
    margin: 0 0.714rem;
    width: 10rem; }
  .styleguide .grid-3 {
    float: left;
    margin: 0 0.714rem;
    width: 15.714rem; }
  .styleguide .grid-4 {
    float: left;
    margin: 0 0.714rem;
    width: 21.429rem; }
  .styleguide .grid-5 {
    float: left;
    margin: 0 0.714rem;
    width: 27.143rem; }
  .styleguide .grid-6 {
    float: left;
    margin: 0 0.714rem;
    width: 32.857rem; }
  .styleguide .grid-7 {
    float: left;
    margin: 0 0.714rem;
    width: 38.571rem; }
  .styleguide .grid-8 {
    float: left;
    margin: 0 0.714rem;
    width: 44.286rem; }
  .styleguide .grid-9 {
    float: left;
    margin: 0 0.714rem;
    width: 50rem; }
  .styleguide .grid-10 {
    float: left;
    margin: 0 0.714rem;
    width: 55.714rem; }
  .styleguide .grid-11 {
    float: left;
    margin: 0 0.714rem;
    width: 61.429rem; }
  .styleguide .grid-12 {
    float: left;
    margin: 0 0.714rem;
    width: 67.143rem; }
  .styleguide .grid_1 {
    float: left;
    margin: 0 1.042%;
    width: 6.25%; }
  .styleguide .grid_2 {
    float: left;
    margin: 0 1.042%;
    width: 14.583%; }
  .styleguide .grid_3 {
    float: left;
    margin: 0 1.042%;
    width: 22.917%; }
  .styleguide .grid_4 {
    float: left;
    margin: 0 1.042%;
    width: 31.25%; }
  .styleguide .grid_5 {
    float: left;
    margin: 0 1.042%;
    width: 39.583%; }
  .styleguide .grid_6 {
    float: left;
    margin: 0 1.042%;
    width: 47.917%; }
  .styleguide .grid_7 {
    float: left;
    margin: 0 1.042%;
    width: 56.25%; }
  .styleguide .grid_8 {
    float: left;
    margin: 0 1.042%;
    width: 64.583%; }
  .styleguide .grid_9 {
    float: left;
    margin: 0 1.042%;
    width: 72.917%; }
  .styleguide .grid_10 {
    float: left;
    margin: 0 1.042%;
    width: 81.25%; }
  .styleguide .grid_11 {
    float: left;
    margin: 0 1.042%;
    width: 89.583%; }
  .styleguide .grid_12 {
    float: left;
    margin: 0 1.042%;
    width: 97.917%; }
  .styleguide .grid-16-1 {
    float: left;
    margin: 0 0.714rem;
    width: 2.857rem; }
  .styleguide .grid-16-2 {
    float: left;
    margin: 0 0.714rem;
    width: 7.143rem; }
  .styleguide .grid-16-3 {
    float: left;
    margin: 0 0.714rem;
    width: 11.429rem; }
  .styleguide .grid-16-4 {
    float: left;
    margin: 0 0.714rem;
    width: 15.714rem; }
  .styleguide .grid-16-5 {
    float: left;
    margin: 0 0.714rem;
    width: 20rem; }
  .styleguide .grid-16-6 {
    float: left;
    margin: 0 0.714rem;
    width: 24.286rem; }
  .styleguide .grid-16-7 {
    float: left;
    margin: 0 0.714rem;
    width: 28.571rem; }
  .styleguide .grid-16-8 {
    float: left;
    margin: 0 0.714rem;
    width: 32.857rem; }
  .styleguide .grid-16-9 {
    float: left;
    margin: 0 0.714rem;
    width: 37.143rem; }
  .styleguide .grid-16-10 {
    float: left;
    margin: 0 0.714rem;
    width: 41.429rem; }
  .styleguide .grid-16-11 {
    float: left;
    margin: 0 0.714rem;
    width: 45.714rem; }
  .styleguide .grid-16-12 {
    float: left;
    margin: 0 0.714rem;
    width: 50rem; }
  .styleguide .grid-16-13 {
    float: left;
    margin: 0 0.714rem;
    width: 54.286rem; }
  .styleguide .grid-16-14 {
    float: left;
    margin: 0 0.714rem;
    width: 58.571rem; }
  .styleguide .grid-16-15 {
    float: left;
    margin: 0 0.714rem;
    width: 62.857rem; }
  .styleguide .grid-16-16 {
    float: left;
    margin: 0 0.714rem;
    width: 67.143rem; }

.inner_widget, .grid_12_col_background_shift, .grid_16_col_background_shift {
  background-position: -10px 0 !important; }

.grid_12_col_background, .grid_12_col_background_shift, .grid_16_col_background, .grid_16_col_background_shift {
  background: url(/images/axle/12_col.gif) repeat-y;
  margin-bottom: 20px;
  float: left;
  width: 100%; }

.grid_16_col_background, .grid_16_col_background_shift {
  background: url(/axle/images/16_col.gif); }

.gecko.styleguide pre {
  font-weight: normal; }

.str {
  color: #EC7600; }

.kwd {
  color: #93C763; }

.com {
  color: #66747B; }

.typ {
  color: #678CB1; }

.lit {
  color: #FACD22; }

.pun {
  color: #F1F2F3; }

.pln {
  color: #F1F2F3; }

.tag {
  color: #8AC763; }

.atn {
  color: #E0E2E4; }

.atv {
  color: #EC7600; }

.dec {
  color: purple; }

pre.prettyprint {
  border: 0px solid #888; }

ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

.prettyprint {
  background: #252525; }

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  color: #555; }

li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #3F3F3F; }
