/////// primary buttons ///////////


// edit your variables //
// --------------------------------------- //

// primary button values //
// ---------------------- //
@mixin primary_button_color {
	@extend .alpha_color_gradient;
}

@mixin primary_button_hover {
	@extend .bravo_color_gradient;
}

@mixin primary_button_active {
	@extend .primary_button_hover;
}

@mixin primary_button_border {
	border: 1px solid $primary_button_border_color;
}
// ---------------------- //
// primary button values  //


// This is your button //
// ---------------------------------------//
@mixin primary_button ($font_size: large) {
	font-family: $googlefont_alpha;
	padding: 0 #{10 / $em}em #{10 / $em}em 0;
	line-height: #{30 / $em}em;
	color: $button_text;
	@if $font_size == medium {
		@extend .medium;
	}
	@else if $font_size == large {
		@extend .large;
	}
	@else if $font_size == small {
		@extend .small;
	}
	font-weight: bold;
	
	min-width: #{40 / $em}em;
	
	width: auto;
	margin-right: 1em;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		//@include primary_button_hover;
		//text-decoration: underline;
		color: $alpha_color;
	}
}


@mixin all_primary_button {
	button, .button {
		@include primary_button;
		&:nth-child(n+2) {
			@include primary_button;
		}
	}
}

