/* UXMad Global Styles */
/* ------------------- */

///////// global //////////

body {
//  background: url(#{$imgDir}bkg_grid.png) repeat-x, scale-color($echo_grey, $lightness: 90%);
}

.container {
  width: #{960 / $em}rem;
  margin: 0 auto;

  @extend .clearfix;

  > header {
    @extend .clearfix;
    padding-top: #{70 / $em}rem;
    padding-bottom: #{30 / $em}rem;
    // padding-bottom: #{100 / $em}rem;
    background: $white;
  }
}

.sub-container {
  @extend .clearfix;
 // background: scale-color($echo_grey, $lightness: 90%);
}

.column {
  @include grid(12,4,percent);
  a.button {
    @include push(12,8,percent);
  }
  form {
    button {
      @include push(12,8,percent);
    }
  }
}

.column_alpha {
  @extend .column;
  @include alpha;
}

.column_bravo {
  @extend .column;
  @include grid(12,4.25,percent);
  margin-top: -40px;
}

.column_charlie {
  @extend .column;
  @include omega;
}

#prices {
  margin-bottom: 1em;
  li {
    margin-bottom: 0.5em;
  }
}

#register_link {
  color: #E31E25;
}

.designer_hr {
  border: 1px solid;
  border-right: 0;
  border-left: 0;
  @include grid(12,6,percent);
  @include push(12,3,percent);
  border-bottom-color: $golf_grey;
  border-top-color: $india_grey;
}

.designer_hr_full {
  @extend .designer_hr;
  @include grid(12,12,percent);
  @include push(12,0,percent);
  border-top-color: scale-color($fox_grey, $lightness: 50%);
  border-bottom-color: $white;
}

footer {
  margin-top: #{30 / $em}rem;
  padding: #{20 / $em}rem 0;
  text-align: center;
  color: $echo_grey;
  .designer_hr_full {
    margin-bottom: #{20 / $em}rem;
  } 
}

