$pageWidth: 900px;
$imageWidth: 100px;
$descriptionWidth: $pageWidth - $imageWidth;

#SpeakersIndex {
  .speakers {
    .speaker-image-block {
      display: block;
      float: left;
      width: $imageWidth;
      min-height: 125px;
      img {
        width: 80px;
        height: 125px;
      }
    }
    .speaker-description-block {
      display: block;
      float: left;
      width: $descriptionWidth;
    }
  }

  .spacing {
    margin-bottom: 60px;
  }

}

