<!DOCTYPE html>
<html-lang="en-us">
  <head>
    <title>Snow*Mobile Conference February 15-16, 2013 Union South Madison, WI</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <!--[if lt IE 9]>
    <script type="text/javascript">
      document.createElement("nav");
      document.createElement("header");
      document.createElement("footer");
      document.createElement("section");
      </script>
      <![endif]-->

    </head>
    <body>
      <div id="parent_wrapper">
        <div id="wrapper">
          <header id="head">
          <div id="logo"><a href="index.html"><img src="images/logo.png"></a></div>
          <div id="eventdates">
            <h2>Conference - <span style="color:#fff;">Feb 15-16, 2013</span><br />
              Union South - Madison, WI</h2>
          </div>
          </header>
          <nav id="menu">
          <ul>
            <li><a href="speakers.html">Speakers</a></li>
            <li><a href="schedule.html">Schedule</a></li>
            <li><a href="sponsors.html">Sponsors</a></li>
            <li><a href="lodging.html">Lodging</a></li>
            <li><a href="http://2013.snow-mobile.org">Register</a></li>
          </ul>
          </nav>
          <section id="speaker_page">
          <h3>Speakers</h3><br />
          <div class="speaker_photo"><img src="images/unknown.jpg"></div>
          <div class="speaker_bio"><h2>You?</h2><a href="mailto:contact@snow-mobile.org">contact@snow-mobile.org</a></p></div>
        <div class="speaker_info"><p>Twitter:</p><a href="">Twitter</a><br /><br /><p>Website:</p><a href="">website address</a></div>
        <div class="filler"><hr></div>
        <div class="speaker_photo"><img src="images/unknown.jpg"></div>
        <div class="speaker_bio"><h2>You?</h2><a href="mailto:contact@snow-mobile.org">contact@snow-mobile.org</a></p></div>
      <div class="speaker_info"><p>Twitter:</p><a href="">Twitter</a><br /><br /><p>Website:</p><a href="">website address</a></div>
      </section>
  </div></div>
  <footer id="snowdrifts">
  <p>Copyright &copy; 2012-2013 Snow * Mobile Conference - <a href="mailto:contact@snow-mobile.org">contact@snow-mobile.org</a> - <a href="policies.html">Policies</a></p>
  </footer>
</body>
</html>
